.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 0.5;
    z-index: 200;
    display: none;
}

.header {
    background: white;

    @media (max-width: 1279px) {
        position: relative;
        z-index: 100;
    }
}

.header__top {
    background: #F5F5F5;
    padding: 5px 0px;
    color: #686868;

    @media (max-width: 1279px) {
        padding: 2px 0px;
    }

    @media (max-width: 767px) {
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 1600px) {
            padding-right: 0;
        }

        .column {
            // width: 50%;
            display: flex;
            align-items: center;

            &:first-child {
                width: 60%;

                @media (max-width: 1279px) {
                    width: 70%;
                }
            }

            &:last-child {
                width: 40%;

                @media (max-width: 1279px) {
                    width: 30%;
                }
            }
        }
    }
}

.container {
    max-width: 1390px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.select_city {
    width: 170px;

    .selectric {
        border: none;
        background: none;
    }

    .label {
        color: #686868;
        font-size: 15px;
        padding-left: 10px;
        margin-left: 0;
        font-weight: 400;
        margin-right: 20px;
    }

    .selectric-items li {
        padding: 4px;
        padding-left: 14px;
        font-size: 14px;
    }

    .button {
        width: 8px;
        height: 5px;
        right: 18px;
        top: 54%;
        transform: translateY(-50%);
        background: url('../img/arrow-down.svg') no-repeat center;

        &:after {
            display: none;
        }
    }
}

.select-refprod {
    width: 100%;

    .selectric {
        border: 1px solid #D8D8D8;
        background: white;
    }

    .label {
        font-size: 13px;
        height: 48px;
        line-height: 48px;
        padding-left: 12px;
    }

    .selectric-items li {
        padding-left: 22px;
    }

    .button {
        width: 12px;
        height: 7px;
        right: 18px;
        top: 54%;
        transform: translateY(-50%);
        background: url('../img/down-bl.svg') no-repeat center;

        &:after {
            display: none;
        }
    }
}

.top-nav {
    display: flex;
    align-items: center;

    @media (max-width: 1279px) {
        padding-left: 17px;
    }
}

.shipping-action {
    height: 29px;
    width: 172px;
    background: url("../img/bg-action.png") no-repeat center;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7px;
    margin-right: 24px;
}

.top-nav {
    li {
        &:not(:last-child) {
            margin-right: 22px;
        }
    }

    a {
        font-size: 15px;
    }
}

.social,
.social-list {
    display: flex;
    align-items: center;
}

.social {
    margin-left: auto;

    a {
        display: inline-block;
    }

    @media (min-width: 1280px) {
        margin-right: 38px;
    }

    @media (min-width: 1600px) {
        margin-right: 53px;
    }
}

.social__title {
    margin-right: 29px;

    @media (max-width: 1279px) {
        margin-right: 23px;
    }
}

.social-list {
    padding-top: 7px;

    li {
        &:not(:last-child) {
            margin-right: 18px;
        }
    }
}

.social-list_footer {
    li {
        &:not(:last-child) {
            @media (min-width: 768px) and (max-width: 1279px) {
                margin-right: 20px;
            }
        }
    }
}

.vk-icon {
    width: 33px;
    height: 33px;
}

.inst-icon,
.whatsup-icon {
    width: 22px;
    height: 22px;
}

.inst-footer {
    @media (max-width: 767px) {
        width: 14px;
        height: 15px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        width: 26px;
        height: 26px;
    }
}

.vk-footer {
    @media (max-width: 767px) {
        width: 22px;
        height: 23px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        width: 39px;
        height: 39px;
    }
}

.favor-icon {
    width: 22px;
    height: 20px;
}

.basket-icon {
    width: 20px;
    height: 20px;
}

.login-icon {
    width: 18px;
    height: 18px;
}

.paypal-icon {
    width: 81px;
    height: 81px;

    @media (max-width: 767px) {
        width: 50px;
        height: 50px;
    }
}

.visa-icon {
    width: 59px;
    height: 59px;

    @media (max-width: 767px) {
        width: 36px;
        height: 36px;
    }
}

.paypal-icon,
.visa-icon {
    color: #7B7B7B;
}

.vk-footer,
.inst-footer {
    color: #38B2AC;
}

.inst-header,
.vk-header,
.whatsup-header {
    color: #D5D5D5;
}

.favor-grey,
.basket-icon-grey,
.login-icon-grey {
    color: #38B2AC;
}

svg use {
    fill: currentColor;
}

.payment {
    display: flex;
    align-items: center;

    li {
        &:first-child {
            margin-right: 35px;

            @media (max-width: 767px) {
                margin-right: 23px;
            }
        }
    }
}

.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 50px;
    position: relative;

    @media (max-width: 599px) {
        padding-bottom: 42px;
    }

    @media (min-width: 600px) and (max-width: 767px) {
        padding-bottom: 17px;
    }

    @media (max-width: 767px) {
        padding-top: 9px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-top: 15px;
        padding-bottom: 32px;
    }

    @media (max-width: 767px) {
        padding-left: 18px;
        padding-right: 18px;
    }

    .column {
        &:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 1280px) {
                width: 60%;
            }

            @media (min-width: 1600px) {
                width: 61%;
            }
        }

        &:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 768px) {
                width: 40%;
            }

            @media (min-width: 1600px) {
                width: 39%;
            }

            @media (min-width: 1280px) {
                padding-left: 30px;
                padding-right: 10px;
            }

            @media (min-width: 1600px) {
                padding-left: 67px;
                padding-right: 16px;
            }
        }
    }
}

.header__bottom {
    background: #38B2AC;
    color: white;
    // padding: 13px 0px;

    @media (max-width: 767px) {
        display: none;
    }

    .container {
        position: relative;

        @media (max-width: 1279px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media (min-width: 1900px) {
            padding-right: 87px;
            padding-left: 20px;
        }
    }

    @media (max-width: 1279px) {
        background: #131313;
        padding: 7px 30px 7px 0px;
    }
}

.burger {
    width: 20px;
    height: 14px;
    background: url("../img/burger.svg") no-repeat center;

    @media (min-width: 768px) {
        display: none;
    }
}

.burger.is-active {
    background: url("../img/close-black.svg") no-repeat center;
}

.catalog-btn {
    border-radius: 0px 20px 0px;
    color: white;
    font-weight: 500;
    font-size: 19px;
    width: 158px;
    height: 52px;
    padding-left: 45px;
    background: #38B2AC url("../img/cat-btn-icon.svg") no-repeat center left 18px;

    @media (min-width: 1280px) {
        display: none;
    }
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 992px) and (max-width: 1279px) {
        justify-content: space-around;
    }

    @media (max-width: 1279px) {
        width: calc(100% - 210px);
    }
}

.main-nav>li>a {
    font-size: 19px;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

.main-nav>li {
    padding: 13px 0px;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
        @media (max-width: 1279px) {
            display: none;
        }
    }

    @media (min-width: 1900px) {
        margin-right: 10px;
    }

    &:hover {
        .dropdownmenu {
            display: flex;
        }
    }
}

.logo {
    width: 240px;
}

.search_header {
    margin-top: 4px;
    max-width: 520px;
    width: 100%;
    margin-left: auto;
}

.search {
    position: relative;

    @media (max-width: 599px) {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (min-width: 600px) and (max-width: 767px) {
        left: 50%;
        top: 36%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 767px) {
        position: absolute;
        max-width: 282px;
        width: 100%;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        width: 280px;
    }

    @media (min-width: 992px) and (max-width: 1279px) {
        width: 480px;
    }
}

.search__inp {
    width: 100%;
    border-radius: 0px 20px 0px;
    border: 1px solid #DDDDDD;
    height: 52px;
    color: #A1A1A1;
    padding-left: 15px;
    padding-right: 130px;

    @media (max-width: 767px) {
        height: 35px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        height: 42px;
    }
}

.search__btn {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0px 20px 0px;
    height: 100%;
    width: 120px;
    color: white;
    font-size: 15px;
    padding-left: 45px;
    background: #2C7A7B url("../img/lupa.svg") no-repeat center left 23px;

    @media (max-width: 767px) {
        padding: 0;
        width: 49px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        width: 104px;
        padding-left: 44px;
    }

    @media (max-width: 767px) {
        background: #2C7A7B url("../img/lupa.svg") no-repeat center left 15px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        background: #2C7A7B url("../img/lupa.svg") no-repeat center left 18px;
    }

    span {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.phone-link,
.basket__price {
    color: #000000;
    font-size: 21px;
    line-height: 20px;
}

.basket__price {
    margin-bottom: 6px;
    font-size: 19px;
}

.sub-info {
    color: #A1A1A1;
    font-size: 15px;
}

.basket {
    margin-bottom: 11px;

    @media (min-width: 768px) {
        display: flex;
    }

    .basket__item {
        &:first-child {
            @media (min-width: 768px) {
                margin-right: 17px;
                margin-top: 4px;
            }
        }

        &:last-child {
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}



.header__basket {
    display: flex;

    @media (max-width: 767px) {
        position: relative;
        top: 7px;
    }

    @media (max-width: 1279px) {
        margin-left: auto;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        margin-right: 30px;
        position: relative;
        top: 20px;
    }

    li {
        &:nth-child(2) {
            @media (min-width: 1280px) {
                display: none;
            }
        }
    }
}

.logo_header {
    margin-right: 25px;
    margin-left: 18px;

    @media (max-width: 599px) {
        margin-right: 48px;
        margin-left: 51px;
    }

    @media (max-width: 767px) {
        width: 79px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        width: 141px;
    }

    @media (min-width: 1280px) {
        margin-left: 4px;
    }
}

.favor-link {
    display: inline-block;
    margin-right: 25px;

    @media (min-width: 768px) {
        margin-top: 3px;
    }

    @media (max-width: 767px) {
        margin-right: 17px;
    }
}

.login-icon {
    display: inline-block;
    margin-right: 25px;

    @media (min-width: 768px) {
        margin-top: 2px;
    }

    @media (max-width: 767px) {
        margin-right: 17px;
    }
}

.phone-link_header {
    margin-bottom: 7px;
    display: inline-block;
}

.main-nav__action {
    @media (min-width: 1280px) {
        padding-left: 18px;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url("../img/action-icon.svg") no-repeat center;
        }
    }
}

.main-nav__popular {
    @media (min-width: 1280px) {
        left: 11px;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: -28px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url("../img/popular-icon.svg") no-repeat center;
        }
    }
}

.social-list_header,
.login,
.shipping-action,
.header__phone {
    @media (max-width: 1279px) {
        display: none;
    }
}

.header__phone {
    padding-left: 3px;
    margin-bottom: 4px;
}

.dropdownmenu {
    position: absolute;
    background: #FFFFFF;
    display: none;
}

.dropdownmenu__inner {
    display: flex;
    position: relative;
}

.dropdownmenu_desctop {
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1360px;
    width: 100%;
    box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.15);
    padding: 26px 30px 39px;
    z-index: 10;
}

.dropdownmenu__item {
    width: 222px;
    margin-right: 19px;
}

.dropdownmenu__title {
    color: #38B2AC;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 19px;
}

.dropdownmenu__sub-title {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 13px;
}

.dropdownmenu__list {
    font-size: 13px;
    color: #858585;
    margin-bottom: 30px;

    li {
        margin-bottom: 10px;
    }
}

.dropdownmenu__list_black {
    color: #000000;
}

.commercial {
    max-width: 226px;
    width: 100%;
}

.commercial_md {
    margin-left: auto;
}

.commercial__item {
    border: 1px solid #FAD4C0;
    padding: 4px 13px 21px;
    position: relative;
    margin-bottom: 54px;
}

.commercial_laptop {
    .commercial__item {
        background: #FFFFFF;
        border: 1px solid #FAD4C0;
        border-radius: 20px;
    }

    .commercial__price {
        justify-content: space-between;
    }

    .commercial__price-new {
        font-weight: 600;
    }
}

.action-tooltip {
    position: absolute;
    left: 15px;
    top: -11px;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 2px 11px;
    border-radius: 0px 10px 0px;
    display: inline-block;
}

.action-tooltip_red {
    background: #F56565;
}

.action-tooltip_purple {
    background: #3C58BF;
}

.commercial__firm {
    color: #858585;
    font-size: 12px;
    margin-bottom: 7px;
}

.commercial__title {
    font-size: 13px;
    margin-bottom: 18px;
    color: #000000;
}

.commercial__price-new {
    color: #000000;
}

.commercial__price {
    display: flex;
    align-items: center;
}

.commercial__price-old {
    margin-right: 14px;
    color: #A1A1A1;
}

.tags {
    a {
        display: inline-block;
        background: #FEE9E1;
        border-radius: 22px;
        padding: 5px 19px;
        color: #C19686;
        font-size: 16px;
        margin-bottom: 9px;
    }
}

.tags_black {
    a {
        background: #2E2E2E;
        color: #B0B0B0;
    }
}

.dropdownmenu__list_column {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 35%;
    }
}

.commercial__price-new {
    font-size: 17px;
}

.menu-laptop__main {
    width: 221px;
    background: #171717;
    padding: 10px 12px;
}

.menu-laptop__list {
    font-size: 15px;
    color: white;
}

.menu-laptop__list>li {
    padding: 24px 0px 24px 15px;
    border-bottom: 1px solid #202020;

    &:first-child {
        .dropdownmenu {
            display: flex;
        }
    }
}

.dropdownmenu__close {
    position: absolute;
    right: -18px;
    top: -18px;
    z-index: 20;
    width: 20px;
    height: 20px;
    background: url("../img/close-grey.svg") no-repeat center;
}

.menu-laptop__list>li.is-active>span {
    opacity: 0.5;
}

.menu-laptop__list>li:hover>span {
    opacity: 0.5;
}

.menu-laptop__list>li>span {
    display: block;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        width: 7px;
        height: 12px;
        background: url("../img/arrow-menu.svg") no-repeat center;
    }
}

.menu-laptop__list {
    margin-bottom: 43px;
}

.menu-laptop {
    position: absolute;
    height: 100vh;
    background: #171717;
    left: 0;
    z-index: 20;
    // overflow-y: auto;
    top: 0;
    padding-top: 210px;
    display: none;

    @media (min-width: 1280px) {
        display: none;
    }
}

.menu-laptop__inner {
    position: relative;
}

.dropdownmenu_laptop {
    position: absolute;
    top: 0;
    left: 221px;
    padding: 34px 48px;
    // height: 100vh;
    // overflow-y: auto;
    padding-top: 45px;
}

.mob-menu {
    position: absolute;
    max-width: 375px;
    width: 100%;
    left: -100%;
    background: white;
    padding-top: 32px;
    z-index: 20;
    transition: 0.5s;
}

.mob-menu.is-active {
    left: 0;
}

.mob-menu__dropdown {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: white;
    z-index: 100;
    padding: 32px 19px;
    transition: 0.5s;
}

.mob-menu__cat-link {
    cursor: pointer;
}

.mob-menu__dropdown.is-active {
    left: 0;
}

.mob-menu__top {
    padding: 0 19px;
}

.all-product-link {
    border-bottom: 1px solid #EFEFEF;
}

.mob-menu__back {
    position: relative;
    margin-bottom: 19px;
    color: #A6A6A6;
    padding-left: 20px;
    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        top: 5px;
        left: 0px;
        width: 6px;
        height: 10px;
        background: url("../img/arrow-grey.svg") no-repeat center;
        transform: rotate(180deg);
    }
}

.mob-menu__list {
    li {
        border-bottom: 1px solid #EFEFEF;
    }

    a,
    span {
        color: #000000;
        font-size: 15px;
        display: block;
        padding-bottom: 15px;
        padding-top: 10px;
    }

    span {
        display: block;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            width: 6px;
            height: 10px;
            background: url("../img/arrow-grey.svg") no-repeat center;
        }
    }
}

.mob-menu__list_main {
    margin-bottom: 56px;
}

.placemark {
    font-weight: 500;
    position: relative;
    color: #38B2AC;
    padding-left: 29px;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        width: 18px;
        height: 22px;
        background: url("../img/marker.svg") no-repeat center;
    }
}

.mob-menu__mark {
    margin-bottom: 26px;
}

.mob-menu__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #686868;
    margin-bottom: 29px;
}

.social-mob {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    li {
        margin-right: 16px;
    }
}

.mob-menu__bottom {
    text-align: center;
    padding: 17px 10px;
    background: #EEEEEE;
}

.mob-menu__phone {
    color: #000000;
    font-size: 13px;
}

.sticky-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 100;

    .container,
    .sticky-panel__nav {
        display: flex;
        align-items: center;
    }
}

.sticky-panel.is-active {
    @media (min-width: 1280px) {
        opacity: 1;
        visibility: visible;
    }
}

.sticky-panel__dropdown {
    top: 79px;
}

.sticky-panel {
    background: #FFFFFF;
    box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.15);
}

.sticky-panel__nav>li {
    padding: 30px 0px;
    margin-right: 38px;

    &:hover {
        .sticky-panel__dropdown {
            display: block;
        }
    }
}

.sticky-panel__basket {
    position: relative;
    margin-left: auto;
    top: 10px;
}

.sticky-panel__search {
    width: 524px;
}

.footer {
    background: #0F0F0F;
    color: white;
    padding-top: 23px;


    @media (max-width: 767px) {
        padding-left: 19px;
        padding-right: 19px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-left: 61px;
        padding-right: 61px;
    }

    @media (max-width: 1279px) {
        .container {
            padding: 0;
        }
    }

    @media (min-width: 768px) {
        padding-top: 59px;
    }

    @media (min-width: 1280px) {
        padding-top: 63px;
    }
}

.footer__contact {

    li {
        margin-bottom: 20px;

        @media (max-width: 767px) {
            margin-bottom: 12px;
        }

        @media (min-width: 768px) and (max-width: 1279px) {
            margin-bottom: 14px;
        }

        &:last-child {
            margin-bottom: 16px;

            @media (max-width: 767px) {
                margin-bottom: 7px;
            }
        }
    }

    a {
        color: white;
        font-weight: 450;
        font-size: 23px;

        @media (max-width: 767px) {
            font-size: 18px;
        }

        @media (min-width: 768px) and (max-width: 1279px) {
            font-size: 22px;
        }
    }
}

.sub-info_footer {
    @media (max-width: 767px) {
        font-size: 13px;
    }
}

.footer__item_top {
    margin-bottom: 23px;

    @media (max-width: 767px) {
        margin-bottom: 18px;
    }
}

.footer__title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 23px;

    @media (max-width: 767px) {
        display: none;
    }

    @media (min-width: 1280px) {
        display: none;
    }
}

.footer__list-title {
    font-size: 17px;
    color: #A1A1A1;
    margin-bottom: 25px;

    @media (max-width: 767px) {
        cursor: pointer;
        position: relative;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-bottom: 0;
        color: white;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            width: 6px;
            height: 3px;
            transform: translateY(-50%);
            background: url("../img/arrow-down.svg") no-repeat center;
        }
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 28px;
    }

    @media (max-width: 1279px) {
        font-size: 15px;
    }
}

.footer__top {
    @media (min-width: 768px) {
        margin-bottom: 34px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 20px;
    }

    .container {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @media (min-width: 1600px) {
            justify-content: flex-start;
        }

        .column {
            &:not(:first-child) {
                @media (max-width: 767px) {
                    border-bottom: 1px solid #4A4A4A;
                }

                @media (min-width: 768px) and (max-width: 1279px) {
                    width: 30%;
                }
            }

            &:first-child {
                @media (min-width: 768px) and (max-width: 1279px) {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 52px;
                    width: 100%;
                }

                @media (min-width: 1600px) {
                    width: 41.7%;
                    padding-left: 8px;
                }
            }

            &:nth-child(2) {
                @media (min-width: 1600px) {
                    width: 18%;
                    margin-right: 35px;
                }
            }

            &:nth-child(3) {
                @media (min-width: 1600px) {
                    width: 20.6%;
                }
            }
        }
    }
}

.footer__list {
    font-size: 17px;

    @media (max-width: 767px) {
        display: none;
        padding-top: 10px;
    }

    @media (max-width: 1279px) {
        font-size: 15px;
    }

    @media (min-width: 1280px) {
        padding-left: 5px;
    }

    li {
        margin-bottom: 21px;
    }

    a {
        &:hover {
            color: #38B2AC;
        }
    }
}

.payment_top {
    @media (max-width: 1279px) {
        display: none;
    }
}

.payment_bottom {
    @media (min-width: 1280px) {
        display: none;
    }
}

.social-list_footer {
    margin-bottom: 33px;

    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.copy {
    color: #A1A1A1;
    font-size: 13px;

    @media (min-width: 768px) {
        font-size: 17px;
    }

    @media (min-width: 1600px) {
        padding-left: 9px;
    }
}

.footer__bottom {
    padding-top: 30px;

    @media (max-width: 767px) {
        padding-top: 14px;
        padding-bottom: 10px;
    }

    @media (max-width: 1279px) {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    @media (min-width: 768px) {
        border-top: 1px solid #353535;
        padding-top: 0;
    }

    @media (min-width: 1280px) {
        padding: 24px 0px;
    }
}

.brends-links,
.brends-list {
    display: flex;
    align-items: center;
    color: #858585;
    font-size: 15px;
}

.brends-links__all {
    display: inline-block;
    margin-right: 12px;
    padding-left: 8px;

    @media (max-width: 1599px) {
        font-size: 12px;
    }
}

.brends-link__num {
    margin-right: 6px;

    @media (max-width: 1599px) {
        font-size: 12px;
    }
}

.brends-links {
    padding-top: 11px;
    padding-right: 0;

    @media (max-width: 1279px) {
        display: none;
    }
}

.brends-list>li {
    position: relative;

    &:not(:last-child) {
        margin-right: 0.7px;
    }

    &:hover {
        .brends-list__modal {
            display: block;
        }
    }
}

.brends-list>li:hover>a {
    background: #000000;
    color: white;
}

.brends-list>li>a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 6px;
    font-size: 15px;

    @media (max-width: 1599px) {
        font-size: 12px;
    }
}

.brends-list__modal {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 175px;
    height: 264px;
    overflow-y: auto;
    background: white;
    padding: 19px 0px 10px 9px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 20;

    li {
        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    a {
        font-size: 13px;
        color: #000000;
    }
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    display: none;
}

.banner-block {
    img {
        display: block;
    }

    @media (max-width: 1279px) {
        padding-bottom: 30px;
    }

    .swiper-wrapper {
        position: relative;

        @media (max-width: 1279px) {
            align-items: stretch;
        }

        @media (min-width: 1280px) {
            display: block;
        }

        .swiper-slide {
            @media (max-width: 1279px) {
                height: auto;
            }

            @media (min-width: 1280px) {
                width: auto;
            }

            &:not(:first-child) {
                @media (min-width: 1280px) {
                    position: absolute;
                    right: 0;
                    width: calc(100% - 785px);
                    height: 288px;
                }
            }

            &:nth-child(2) {
                @media (min-width: 1280px) {
                    top: 0;
                }
            }

            &:last-child {
                @media (min-width: 1280px) {
                    bottom: 0;
                }
            }
        }
    }

    .swiper-pagination {
        bottom: 5px;

        @media (min-width: 1280px) {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: #E0F2F1;
    }

    .swiper-pagination-bullet-active {
        background: #38B2AC;
    }

    @media (min-width: 1280px) {
        padding-bottom: 40px;
    }
}

.banner-block__img-desc {
    @media (max-width: 1279px) {
        display: none;
    }
}

.banner-block__img-mob {
    @media (min-width: 1280px) {
        display: none;
    }
}

.banner-block__item {
    position: relative;
}

.banner-block__title,
.banner-block__num {
    color: white;
    font-family: "PlayfairDisplay";
    font-weight: 600;
}

.banner-block__cont {
    position: absolute;
    bottom: 32px;
    left: 53px;

    @media (max-width: 1279px) {
        left: 14px;
    }
}

.banner-block__cont_next {
    bottom: 12px;
    left: 36px;
}

.banner-block__num {
    font-size: 77px;

    @media (max-width: 767px) {
        font-size: 48px;
    }
}

.banner-block__article {
    font-size: 17px;
    color: white;
}

.banner-block__title {
    font-size: 52px;

    @media (max-width: 767px) {
        font-size: 15px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        font-size: 30px;
    }
}

.banner-block__title_small {
    font-size: 38px;

    @media (max-width: 767px) {
        font-size: 15px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        font-size: 30px;
    }
}

.banner-block__article-grey {
    color: #7E7E7E;
    padding-top: 7px;

    @media (max-width: 767px) {
        font-size: 15px;
    }
}

.banner-block__cont_static {
    position: static;

    @media (min-width: 1280px) {
        width: 324px;
    }
}

.banner-block__item_last {
    background: #F4F1FF;
    border-radius: 80px 0px 0px 0px;
    padding-left: 28px;
    padding-top: 41px;

    @media (max-width: 767px) {
        padding-left: 20px;
    }

    @media (max-width: 1279px) {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 1280px) {
        height: 100%;
        padding-left: 36px;
        padding-top: 58px;
    }
}

.banner-block__img-min {
    @media (max-width: 1279px) {
        margin-left: 20px;
    }

    @media (min-width: 1280px) {
        position: relative;
        right: 25px;
        bottom: -11px;
    }

    @media (min-width: 1360px) {
        bottom: 0;
    }

    @media (min-width: 1500px) {
        bottom: 15px;
    }
}

.banner-block__title-grey {
    color: #38B2AC;

    span {
        color: #2F2F2F;
    }

    @media (min-width: 1280px) and (max-width: 1359px) {
        font-size: 32px;
    }
}

.banner-block__item_last {
    display: flex;
}

.main-banner {
    padding-top: 21px;

    @media (max-width: 1279px) {
        padding-right: 0;
    }
}

.tabs-btn {
    display: flex;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 45px;

    @media (max-width: 400px) {
        width: 100%;
        // overflow-x: auto;
        white-space: nowrap;

        // scrollbar-width: none;
        .mCSB_scrollTools {
            opacity: 0;
        }
    }

    @media (min-width: 768px) {
        padding-top: 57px;
        margin-bottom: 55px;
    }

    @media (min-width: 1280px) {
        padding-top: 100px;
        margin-bottom: 76px;
    }

    span {
        &:not(:last-child) {
            margin-right: 23px;

            @media (min-width: 768px) {
                margin-right: 52px;
            }

            @media (min-width: 1280px) {
                margin-right: 74px;
            }
        }
    }
}

// scrollbar-width: none;
// .tabs-btn::-webkit-scrollbar {
//     width: 0;
// }

.action-tooltip_blue {
    background: #293688;
}

.action-tooltip_orange {
    background: #ECC94B;
}

.tabs-btn__el {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;

    @media (min-width: 768px) {
        font-size: 25px;
    }

    @media (min-width: 1280px) {
        font-size: 36px;
    }
}

.tabs-btn__el.is-active {
    color: #38B2AC;
}

.product-card {
    background: white;
    padding: 15px 13px 23px;
    position: relative;
    width: 168px;

    @media (min-width: 768px) {
        width: 238px;
        padding-left: 19px;
        padding-right: 19px;
    }

    @media (min-width: 1280px) {
        width: 306px;
    }

    .action-tooltip {
        left: 26px;
        top: -5px;
    }

    @media (min-width: 1280px) {
        &:hover {
            .fastview-btn {
                display: block;
            }
        }
    }
}

.product-card__img {
    text-align: center;
    margin-bottom: 17px;
    position: relative;
}

.fastview-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 135px;
    height: 40px;
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 31px;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    display: none;
}

.product-card__brend {
    color: #9F9F9F;
    margin-bottom: 7px;
    font-size: 10px;

    @media (min-width: 768px) {
        font-size: 12px;
    }

    @media (min-width: 1280px) {
        font-size: 13px;
    }
}

.product-card__name {
    color: #000000;
    margin-bottom: 23px;
    font-size: 12px;

    @media (min-width: 768px) {
        font-size: 15px;
    }

    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.specif {
    color: #858585;
    margin-bottom: 32px;
    font-size: 10px;

    @media (min-width: 768px) {
        font-size: 12px;
    }

    @media (min-width: 1280px) {
        font-size: 13px;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
}

.btn {
    background: #38B2AC;
    position: relative;
    color: white;
    border-radius: 0px 20px 0px;
    height: 44px;
    font-size: 16px;

    &:hover {
        background: #2C7A7B;
    }
}

.btn_buy {
    width: 68px;
    height: 44px;
    font-size: 12px;
    position: relative;
    background: #38B2AC;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 19px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: url("../img/basket-btn.svg") no-repeat center;
        background-size: contain;

        @media (max-width: 767px) {
            display: none;
        }
    }

    @media (min-width: 768px) {
        font-size: 14px;
        width: 106px;
        padding-left: 34px;

    }

    @media (min-width: 1280px) {
        font-size: 16px;
        width: 131px;
        padding-left: 45px;
    }
}

.fastview-item {
    display: none;
}

.btn_buy.is-active {
    padding-left: 5px;
    padding-right: 5px;
    background: #185B5B;

    &:after {
        opacity: 0;
    }
}

.product-card__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card__column-list {
    li {
        span {
            display: inline-block;
            position: relative;
        }

        &:first-child {
            font-size: 11px;
            color: #A1A1A1;
            margin-bottom: 7px;
            display: flex;
            align-items: center;

            @media (max-width: 767px) {
                font-size: 9px;
            }

            span {
                &:first-child {
                    margin-right: 11px;
                }

                @media (max-width: 1279px) {
                    display: none;
                }
            }
        }
    }
}

.product-card__old-price,
.fastview__price-old {
    color: #A1A1A1;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 100%;
        background: #A1A1A1;
    }
}

.tab-slider {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 767px) {
        padding-left: 0;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 44%;

        @media (max-width: 767px) {
            display: none;
        }

        @media (min-width: 768px) and (max-width: 1279px) {
            top: 36%;
        }
    }

    .swiper-button-next {
        @media (min-width: 768px) and (max-width: 1279px) {
            right: 8px;
        }
    }

    .swiper-button-prev {
        @media (min-width: 768px) and (max-width: 1279px) {
            left: 8px;
        }
    }
}

.product-card__new-price {
    color: #000000;
    font-weight: 600;
    font-size: 13px;

    span {
        font-size: 9px;
    }

    @media (min-width: 768px) {
        font-size: 15px;

        span {
            font-size: 11px;
        }
    }

    @media (min-width: 1280px) {
        font-size: 18px;

        span {
            font-size: 14px;
        }
    }
}

.swiper-button-next-bg {
    width: 45px;
    height: 39px;
    background: #FFFFFF url('../img/arrow-right.svg') no-repeat center;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.07);
    border-radius: 10px 0px;
    right: 0;
}

.swiper-button-prev-bg {
    width: 45px;
    height: 39px;
    background: #FFFFFF url('../img/arrow-left.svg') no-repeat center;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.07);
    border-radius: 10px 0px;
    left: 0;
}

.swiper-button-next-min {
    top: 54%;
    width: 9px;
    height: 16px;
    background: url('../img/sl-r.svg') no-repeat center;
    background-size: contain;
}

.swiper-button-prev-min {
    top: 54%;
    width: 9px;
    height: 16px;
    background: url('../img/sl-l.svg') no-repeat center;
    background-size: contain;
}

.action-tab {
    max-width: 1390px;
    width: 100%;
    margin: 0 auto;
}

.fastview {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
    background: #FFFFFF;
    padding: 33px 58px 42px 37px;
    z-index: 300;
    // display: none;
}

.fastview__brend {
    position: relative;
    font-size: 23px;
    color: #858585;
    margin-bottom: 7px;
}

.fastview__title {
    color: #000000;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 48px;
}

.fastview__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.fastview__item-left {
    width: 355px;
}

.fastview__item-right {
    width: calc(100% - 355px);
    padding-left: 34px;
}

.fastview__close {
    position: absolute;
    right: -34px;
    top: -8px;
    width: 20px;
    height: 20px;
    background: url("../img/close-grey.svg") no-repeat center;
    z-index: 10;
}

.fastview-gallery-top {
    border: 1px solid #D8D8D8;
}

.fastview__more-link {
    padding-top: 84px;
    font-size: 17px;
    text-align: center;
    color: #139AD6;
}

.reviews-reyting__stars {
    display: flex;
    align-items: center;

    li {
        &:not(:last-child) {
            margin-right: 1px;
        }
    }

    svg {
        width: 20px;
        height: 20px;
    }
}

.reviews-reyting {
    display: flex;
    align-items: center;
}

.reviews-reyting__article {
    display: inline-block;
    font-size: 14px;
    margin-left: 11px;
}

.fastview__status {
    font-weight: 500;
    font-size: 14px;
    color: #48BB78;
    margin-left: 28px;
    margin-right: 28px;
}

.addfavor-block {
    display: flex;
    align-items: center;
}

.addfavor__txt {
    font-size: 14px;
    color: #38B2AC;
    margin-left: 15px;
}

.fastview__top-info {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}

.addfavor {
    width: 20px;
    height: 19px;
    background: url("../img/favor.svg") no-repeat center;
    background-size: contain;
}

.addfavor {
    cursor: pointer;
}

.fastview__specif {
    font-size: 13px;
    margin-bottom: 25px;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        span {
            display: block;

            &:first-child {
                width: 170px;
                color: #858585;
            }

            &:last-child {
                width: calc(100% - 170px);
            }
        }
    }
}

.fastview__price-new {
    position: relative;

    .action-tooltip {
        left: 0;
        top: -30px;
    }
}

.fastview__price-new {
    font-weight: 500;
    font-size: 28px;

    span {
        font-size: 16px;
    }
}

.fastview__price-info {
    display: flex;
    align-items: center;
}

.fastview__btn {
    width: 188px;
    height: 57px;
    padding: 0 28px 0px;
}

.fastview__price-old {
    font-size: 16px;
    margin-left: 20px;

    span {
        font-size: 14px;
    }
}

.fastview__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.fastview__columns>li {
    width: 221px;

    &:first-child,
    &:nth-child(2) {
        margin-bottom: 40px;
    }

    &:last-child {
        display: flex;
        justify-content: flex-end;
    }
}

.news-block {
    background: #F4F4F4;
    margin-left: auto;
    padding: 17px 0px 30px 19px;
    margin-bottom: 66px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;
        padding: 49px 0px 10px 42px;
        border-radius: 0px 0px 0px 120px;
        margin-left: 15px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 150px;
        max-width: 1747px;
        width: 100%;
        padding: 67px 0px 37px 70px;
    }

    @media (min-width: 1600px) {
        padding: 67px 0px 37px 107px;
    }

    @media (min-width: 1600px) {
        margin-left: auto;
    }

    .news-block__item {
        &:first-child {
            @media (min-width: 768px) {
                width: 270px;
                padding-right: 44px;
                padding-top: 25px;
            }

            @media (min-width: 1280px) {
                padding-right: 24px;
            }
        }

        &:last-child {
            @media (min-width: 768px) {
                width: calc(100% - 270px);
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    top: -18px;
                    left: -18px;
                    width: 261px;
                    height: 173px;
                    border: 1px solid #000000;
                    border-radius: 0px 60px 0px 0px;
                }
            }

            @media (min-width: 1280px) {
                width: calc(100% - 300px);
            }

            @media (min-width: 1600px) {
                &:after {
                    width: 325px;
                    height: 217px;
                }
            }
        }
    }
}

.actions-block {
    margin-bottom: 70px;

    @media (min-width: 768px) {
        margin-bottom: 87px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 136px;
    }
}

.news-slider__img_brt {
    img {
        border-radius: 0px 60px 0px 0px;
    }
}

.news-slider__img_brb {
    img {
        border-radius: 0px 0px 60px 0px;
    }
}

.news-slider__img_blt {
    img {
        border-radius: 60px 0px 0px 0px;
    }
}

.cont-title {
    font-weight: 500;
    font-size: 18px;

    @media (min-width: 768px) {
        font-size: 25px;
    }

    @media (min-width: 1280px) {
        font-size: 36px;
    }
}

.news-block {
    .cont-title {
        margin-bottom: 10px;

        @media (min-width: 768px) {
            margin-bottom: 21px;
        }

        @media (min-width: 1280px) {
            margin-bottom: 40px;
        }
    }
}

.cont-title_grey {
    color: #38B2AC;

    span {
        color: #000000;
    }
}

.news-block__article {
    color: #38B2AC;
    font-size: 13px;
    margin-bottom: 25px;

    @media (min-width: 768px) {
        font-size: 15px;
        margin-bottom: 0px;
    }

    @media (min-width: 1280px) {
        font-size: 17px;
    }
}

.news-slider__img {
    margin-bottom: 10px;

    @media (min-width: 768px) {
        margin-bottom: 16px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 22px;
    }
}

.news-slider__article {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 10px;

    @media (min-width: 768px) {
        font-size: 15px;
        margin-bottom: 15px;
    }

    @media (min-width: 1280px) {
        font-size: 17px;
    }
}

.news-slider__date {
    color: #A1A1A1;
    font-size: 10px;

    @media (min-width: 768px) {
        font-size: 13px;
    }
}

.news-slider__item {
    @media (min-width: 768px) {
        width: 270px;
    }

    @media (min-width: 1600px) {
        width: 325px;
    }
}

.popular-cat__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (min-width: 768px) {
        justify-content: space-between;
    }

    li {
        position: relative;
        width: 133px;
        border: 1px solid #F0F0F0;
        padding: 14px 8px 26px;
        margin-bottom: 15px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            @media (min-width: 768px) and (max-width: 1279px) {
                position: absolute;
                top: 0;
            }
        }

        @media (min-width: 768px) and (max-width: 1279px) {
            &:first-child {
                left: 0;
            }

            &:nth-child(2) {
                left: 25.3%;
            }

            &:nth-child(3) {
                right: 25.3%;
            }

            &:nth-child(4) {
                right: 0;
            }
        }

        @media (min-width: 768px) {
            width: 176px;
            height: 204.5px;
            padding: 20px 16px 15px;
        }

        @media (min-width: 1280px) {
            width: 210px;
            height: 263px;
        }

        @media (min-width: 1390px) {
            width: 228px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 85px;
            background: #EDEDED;
            border-radius: 0px 0px 0px 60px;

            @media (min-width: 768px) {
                width: 145px;
                height: 112px;
            }

            @media (min-width: 1280px) {
                width: 184px;
                height: 130px;
            }
        }
    }
}

.popular-cat__img {
    text-align: center;
    position: relative;
    z-index: 10;

    a {
        width: 80px;
        display: inline-block;

        @media (min-width: 768px) {
            width: 125px;
        }

        @media (min-width: 1280px) {
            width: auto;
        }
    }
}

.popular-cat__title {
    font-size: 13px;
    margin-bottom: 2px;
    position: relative;
    z-index: 10;

    @media (min-width: 768px) {
        font-size: 15px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 8px;
        font-size: 17px;
    }
}

.popular-cat__article {
    font-size: 10px;
    color: #C2C2C2;
    position: relative;
    z-index: 10;

    @media (min-width: 768px) {
        font-size: 13px;
    }
}

.popular-cat__banner {
    width: 280px;
    height: 184px;
    background: url("../img/pop-banner-mob.jpg") no-repeat center;
    padding: 17px;
    display: flex;

    @media (max-width: 767px) {
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        margin-left: 16px;
        width: 359px;
        height: 424px;
        background: url("../img/pop-banner-laptop.jpg") no-repeat center;
    }

    @media (min-width: 1280px) {
        width: 324px;
        height: 585px;
        background: url("../img/pop-banner.jpg") no-repeat center;
    }
}

.popular-cat__banner-cont {
    width: 100%;
    margin-top: auto;
}

.popular-cat__banner-info {
    font-family: "PlayfairDisplay";
    color: white;
    font-weight: 600;

    @media (min-width: 768px) and (max-width: 1279px) {
        display: flex;
        align-items: center;
    }

    @media (min-width: 1280px) {
        margin-bottom: 25px;
    }

    li {
        &:first-child {
            font-size: 44px;

            @media (min-width: 768px) {
                font-size: 53px;
            }

            @media (min-width: 768px) and (max-width: 1279px) {
                margin-right: 20px;
            }

            @media (min-width: 1280px) {
                font-size: 62px;
            }
        }

        &:last-child {
            font-size: 15px;

            @media (min-width: 768px) {
                font-size: 20px;
            }

            @media (min-width: 1280px) {
                font-size: 25px;
            }
        }
    }
}

.popular-cat__banner-link {
    display: block;
    width: 235px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    background: white;
    border-radius: 30px 0px;
    color: #000000;
    font-size: 21px;
    margin: 0 auto;

    @media (max-width: 1279px) {
        display: none;
    }
}

.popular-cat {
    margin-bottom: 74px;

    @media (min-width: 768px) {
        margin-bottom: 108px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 150px;
    }

    .cont-title {
        margin-bottom: 28px;

        @media (min-width: 768px) {
            margin-bottom: 56px;
        }

        @media (min-width: 768px) and (max-width: 1279px) {
            max-width: 737px;
            width: 100%;
            margin: 0 auto 28px;
        }

        @media (min-width: 1280px) {
            margin-bottom: 82px;
        }
    }
}

.popular-cat__columns {
    position: relative;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        max-width: 737px;
        width: 100%;
        margin: 0 auto;
        padding-top: 220px;
    }

    .popular-cat__column {
        &:first-child {
            @media (min-width: 768px) {
                width: calc(100% - 359px);
            }
        }
    }
}

.about-us {
    position: relative;

    .cont-title {
        margin-bottom: 24px;

        @media (min-width: 768px) {
            margin-bottom: 54px;
        }
    }
}

.cont-txt {
    color: #262626;
    font-size: 15px;

    @media (min-width: 1280px) {
        font-size: 17px;
    }
}

.about-us__txt {
    margin-bottom: 34px;

    @media (min-width: 768px) {
        margin-bottom: 50px;
    }
}

.about-us__link {
    display: block;
    background: #FFFFFF;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.09);
    border-radius: 0px 10px;
    width: 232px;
    height: 34px;
    line-height: 34px;
    padding-left: 40px;
    color: #38B2AC;
    font-weight: 500;
    font-size: 13px;
    position: relative;

    @media (max-width: 767px) {
        margin-bottom: 53px;
    }

    @media (min-width: 768px) {
        width: 312px;
        height: 39px;
        line-height: 39px;
        padding-left: 51px;
    }

    @media (min-width: 1280px) {
        width: 293px;
    }

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
        background: url("../img/arrow-grey-r.svg") no-repeat center;
        background-size: contain;
        width: 11px;
        height: 11px;

        @media (min-width: 768px) {
            width: 20px;
            height: 18px;
        }
    }

    @media (min-width: 768px) {
        font-size: 17px;
    }
}

.about-us__img {
    img {
        border-radius: 0px 60px 0px 0px;
    }
}

.about-us {
    margin-bottom: 44px;
    display: flex;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    @media (min-width: 768px) {
        justify-content: space-between;
        margin-bottom: 100px;
    }

    @media (min-width: 1280px) {
        align-items: center;
    }

    .about-us__item {
        &:first-child {
            @media (max-width: 767px) {
                order: 1;
            }

            @media (min-width: 768px) {
                width: 322px;
            }

            @media (min-width: 1280px) {
                width: 670px;
            }
        }

        &:last-child {
            @media (min-width: 768px) {
                width: calc(100% - 360px);
            }

            @media (min-width: 1280px) {
                width: calc(100% - 740px);
            }
        }
    }
}

.tags_cont {
    overflow-x: auto;
    margin-bottom: 43px;
    scrollbar-width: none;
}

.tags_cont::-webkit-scrollbar {
    width: 0;
}

.tags-list {
    width: 1390px;
    display: flex;
    flex-wrap: wrap;

    li {
        margin-right: 10px;

        a {
            font-size: 10px;
            margin-bottom: 5px;

            @media (min-width: 768px) {
                margin-bottom: 10px;
                font-size: 15px;
            }

            @media (min-width: 1280px) {
                font-size: 16px;
            }
        }
    }
}