.header {
    background: white;

    @media (max-width: 1279px) {
        position: relative;
        z-index: 100;
    }
}

.header__top {
    background: #F5F5F5;
    padding: 5px 0px;
    color: #686868;

    @media (max-width: 1279px) {
        padding: 2px 0px;
    }

    @media (max-width: 767px) {
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 1600px) {
            padding-right: 0;
        }

        .column {
            // width: 50%;
            display: flex;
            align-items: center;

            &:first-child {
                width: 60%;

                @media (max-width: 1279px) {
                    width: 70%;
                }
            }

            &:last-child {
                width: 40%;

                @media (max-width: 1279px) {
                    width: 30%;
                }
            }
        }
    }
}

.container {
    max-width: 1390px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.select {
    width: 170px;

    .selectric {
        border: none;
        background: none;
    }

    .label {
        color: #686868;
        font-size: 15px;
        padding-left: 10px;
        margin-left: 0;
        font-weight: 400;
        margin-right: 20px;
    }

    .selectric-items li {
        padding: 4px;
        padding-left: 14px;
        font-size: 14px;
    }

    .button {
        width: 8px;
        height: 5px;
        right: 18px;
        top: 54%;
        transform: translateY(-50%);
        background: url('../img/arrow-down.svg') no-repeat center;

        &:after {
            display: none;
        }
    }
}

.top-nav {
    display: flex;
    align-items: center;

    @media (max-width: 1279px) {
        padding-left: 17px;
    }
}

.shipping-action {
    height: 29px;
    width: 172px;
    background: url("../img/bg-action.png") no-repeat center;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7px;
    margin-right: 24px;
}

.top-nav {
    li {
        &:not(:last-child) {
            margin-right: 22px;
        }
    }

    a {
        font-size: 15px;
    }
}

.social,
.social-list {
    display: flex;
    align-items: center;
}

.social {
    margin-left: auto;

    @media (min-width: 1280px) {
        margin-right: 38px;
    }

    @media (min-width: 1600px) {
        margin-right: 53px;
    }
}

.social__title {
    margin-right: 29px;

    @media (max-width: 1279px) {
        margin-right: 23px;
    }
}

.social-list {
    padding-top: 7px;

    li {
        &:not(:last-child) {
            margin-right: 18px;
        }
    }
}

.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 50px;
    position: relative;

    @media (max-width: 599px) {
        padding-bottom: 42px;
    }

    @media (min-width: 600px) and (max-width: 767px) {
        padding-bottom: 17px;
    }

    @media (max-width: 767px) {
        padding-top: 9px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-top: 15px;
        padding-bottom: 32px;
    }

    @media (max-width: 767px) {
        padding-left: 18px;
        padding-right: 18px;
    }

    .column {
        &:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 1280px) {
                width: 60%;
            }

            @media (min-width: 1600px) {
                width: 61%;
            }
        }

        &:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 768px) {
                width: 40%;
            }

            @media (min-width: 1600px) {
                width: 39%;
            }

            @media (min-width: 1280px) {
                padding-left: 30px;
                padding-right: 10px;
            }

            @media (min-width: 1600px) {
                padding-left: 67px;
                padding-right: 16px;
            }
        }
    }
}

.header__bottom {
    background: #38B2AC;
    color: white;
    // padding: 13px 0px;

    @media (max-width: 767px) {
        display: none;
    }

    .container {
        position: relative;

        @media (max-width: 1279px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media (min-width: 1900px) {
            padding-right: 87px;
            padding-left: 20px;
        }
    }

    @media (max-width: 1279px) {
        background: #131313;
        padding: 7px 30px 7px 0px;
    }
}

.burger {
    width: 20px;
    height: 14px;
    background: url("../img/burger.svg") no-repeat center;

    @media (min-width: 768px) {
        display: none;
    }
}

.burger.is-active {
    background: url("../img/close-black.svg") no-repeat center;
}

.catalog-btn {
    border-radius: 0px 20px 0px;
    color: white;
    font-weight: 500;
    font-size: 19px;
    width: 158px;
    height: 52px;
    padding-left: 45px;
    background: #38B2AC url("../img/cat-btn-icon.svg") no-repeat center left 18px;

    @media (min-width: 1280px) {
        display: none;
    }
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 992px) and (max-width: 1279px) {
        justify-content: space-around;
    }

    @media (max-width: 1279px) {
        width: calc(100% - 210px);
    }
}

.main-nav>li>a {
    font-size: 19px;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

.main-nav>li {
    padding: 13px 0px;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
        @media (max-width: 1279px) {
            display: none;
        }
    }

    @media (min-width: 1900px) {
        margin-right: 10px;
    }

    &:hover {
        .dropdownmenu {
            display: flex;
        }
    }
}

.logo {
    width: 240px;
}

.search_header {
    margin-top: 4px;
    max-width: 520px;
    width: 100%;
    margin-left: auto;
}

.search {
    position: relative;

    @media (max-width: 599px) {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (min-width: 600px) and (max-width: 767px) {
        left: 50%;
        top: 36%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 767px) {
        position: absolute;
        max-width: 282px;
        width: 100%;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        width: 280px;
    }

    @media (min-width: 992px) and (max-width: 1279px) {
        width: 480px;
    }
}

.search__inp {
    width: 100%;
    border-radius: 0px 20px 0px;
    border: 1px solid #DDDDDD;
    height: 52px;
    color: #A1A1A1;
    padding-left: 15px;
    padding-right: 130px;

    @media (max-width: 767px) {
        height: 35px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        height: 42px;
    }
}

.search__btn {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0px 20px 0px;
    height: 100%;
    width: 120px;
    color: white;
    font-size: 15px;
    padding-left: 45px;
    background: #2C7A7B url("../img/lupa.svg") no-repeat center left 23px;

    @media (max-width: 767px) {
        padding: 0;
        width: 49px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        width: 104px;
        padding-left: 44px;
    }

    @media (max-width: 767px) {
        background: #2C7A7B url("../img/lupa.svg") no-repeat center left 15px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        background: #2C7A7B url("../img/lupa.svg") no-repeat center left 18px;
    }

    span {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.phone-link,
.basket__price {
    color: #000000;
    font-size: 21px;
    line-height: 20px;
}

.basket__price {
    margin-bottom: 6px;
    font-size: 19px;
}

.sub-info {
    color: #A1A1A1;
    font-size: 15px;
}

.basket {
    margin-bottom: 11px;

    @media (min-width: 768px) {
        display: flex;
    }

    .basket__item {
        &:first-child {
            @media (min-width: 768px) {
                margin-right: 17px;
                margin-top: 4px;
            }
        }

        &:last-child {
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}



.header__basket {
    display: flex;

    @media (max-width: 767px) {
        position: relative;
        top: 7px;
    }

    @media (max-width: 1279px) {
        margin-left: auto;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        margin-right: 30px;
        position: relative;
        top: 20px;
    }

    li {
        &:nth-child(2) {
            @media (min-width: 1280px) {
                display: none;
            }
        }
    }
}

.logo_header {
    margin-right: 25px;
    margin-left: 18px;

    @media (max-width: 599px) {
        margin-right: 48px;
        margin-left: 51px;
    }

    @media (max-width: 767px) {
        width: 79px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        width: 141px;
    }

    @media (min-width: 1280px) {
        margin-left: 4px;
    }
}

.favor-link {
    display: inline-block;
    margin-right: 25px;

    @media (min-width: 768px) {
        margin-top: 3px;
    }

    @media (max-width: 767px) {
        margin-right: 17px;
    }
}

.login-icon {
    display: inline-block;
    margin-right: 25px;

    @media (min-width: 768px) {
        margin-top: 2px;
    }

    @media (max-width: 767px) {
        margin-right: 17px;
    }
}

.phone-link_header {
    margin-bottom: 7px;
    display: inline-block;
}

.main-nav__action {
    @media (min-width: 1280px) {
        padding-left: 18px;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url("../img/action-icon.svg") no-repeat center;
        }
    }
}

.main-nav__popular {
    @media (min-width: 1280px) {
        left: 11px;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: -28px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url("../img/popular-icon.svg") no-repeat center;
        }
    }
}

.social-list,
.login,
.shipping-action,
.header__phone {
    @media (max-width: 1279px) {
        display: none;
    }
}

.header__phone {
    padding-left: 3px;
    margin-bottom: 4px;
}

.dropdownmenu {
    position: absolute;
    background: #FFFFFF;
    display: none;
}

.dropdownmenu__inner {
    display: flex;
    position: relative;
}

.dropdownmenu_desctop {
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1360px;
    width: 100%;
    box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.15);
    padding: 26px 30px 39px;
    z-index: 10;
}

.dropdownmenu__item {
    width: 222px;
    margin-right: 19px;
}

.dropdownmenu__title {
    color: #38B2AC;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 19px;
}

.dropdownmenu__sub-title {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 13px;
}

.dropdownmenu__list {
    font-size: 13px;
    color: #858585;
    margin-bottom: 30px;

    li {
        margin-bottom: 10px;
    }
}

.dropdownmenu__list_black {
    color: #000000;
}

.commercial {
    max-width: 226px;
    width: 100%;
}

.commercial_md {
    margin-left: auto;
}

.commercial__item {
    border: 1px solid #FAD4C0;
    padding: 4px 13px 21px;
    position: relative;
    margin-bottom: 54px;
}

.commercial_laptop {
    .commercial__item {
        background: #FFFFFF;
        border: 1px solid #FAD4C0;
        border-radius: 20px;
    }

    .commercial__price {
        justify-content: space-between;
    }

    .commercial__price-new {
        font-weight: 600;
    }

    .commercial__action {
        background: #3C58BF;
    }
}

.commercial__action {
    position: absolute;
    left: 15px;
    top: -11px;
    color: white;
    font-size: 13px;
    text-align: center;
    background: #F56565;
    padding: 4px 0px;
    border-radius: 0px 10px 0px;
    width: 103px;
}

.commercial__firm {
    color: #858585;
    font-size: 12px;
    margin-bottom: 7px;
}

.commercial__title {
    font-size: 13px;
    margin-bottom: 18px;
    color: #000000;
}

.commercial__price-new {
    color: #000000;
}

.commercial__price {
    display: flex;
    align-items: center;
}

.commercial__price-old {
    margin-right: 14px;
    color: #A1A1A1;
}

.tags {
    a {
        display: inline-block;
        background: #FEE9E1;
        border-radius: 22px;
        padding: 5px 19px;
        color: #C19686;
        font-size: 16px;
        margin-bottom: 9px;
    }
}

.tags_black {
    a {
        background: #2E2E2E;
        color: #B0B0B0;
    }
}

.dropdownmenu__list_column {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 35%;
    }
}

.commercial__price-new {
    font-size: 17px;
}

.menu-laptop__main {
    width: 221px;
    background: #171717;
    padding: 10px 12px;
}

.menu-laptop__list {
    font-size: 15px;
    color: white;
}

.menu-laptop__list>li {
    padding: 24px 0px 24px 15px;
    border-bottom: 1px solid #202020;

    &:first-child {
        .dropdownmenu {
            display: flex;
        }
    }
}

.dropdownmenu__close {
    position: absolute;
    right: -18px;
    top: -18px;
    z-index: 20;
    width: 20px;
    height: 20px;
    background: url("../img/close-grey.svg") no-repeat center;
}

.menu-laptop__list>li.is-active>span {
    opacity: 0.5;
}

.menu-laptop__list>li:hover>span {
    opacity: 0.5;
}

.menu-laptop__list>li>span {
    display: block;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        width: 7px;
        height: 12px;
        background: url("../img/arrow-menu.svg") no-repeat center;
    }
}

.menu-laptop__list {
    margin-bottom: 43px;
}

.menu-laptop {
    position: fixed;
    height: 100vh;
    background: #171717;
    left: 0;
    z-index: 20;
    overflow-y: auto;
    top: 0;
    padding-top: 210px;
    display: none;

    @media (min-width: 1280px) {
        display: none;
    }
}

.menu-laptop__inner {
    position: relative;
}

.dropdownmenu_laptop {
    position: fixed;
    top: 0;
    left: 221px;
    padding: 34px 48px;
    height: 100vh;
    overflow-y: auto;
    padding-top: 245px;
}

.mob-menu {
    position: absolute;
    max-width: 375px;
    width: 100%;
    left: -100%;
    background: white;
    padding-top: 32px;
    z-index: 20;
    transition: 0.5s;
}

.mob-menu.is-active {
    left: 0;
}

.mob-menu__dropdown {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: white;
    z-index: 100;
    padding: 32px 19px;
    transition: 0.5s;
}

.mob-menu__cat-link {
    cursor: pointer;
}

.mob-menu__dropdown.is-active {
    left: 0;
}

.mob-menu__top {
    padding: 0 19px;
}

.all-product-link {
    border-bottom: 1px solid #EFEFEF;
}

.mob-menu__back {
    position: relative;
    margin-bottom: 19px;
    color: #A6A6A6;
    padding-left: 20px;
    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        top: 5px;
        left: 0px;
        width: 6px;
        height: 10px;
        background: url("../img/arrow-grey.svg") no-repeat center;
        transform: rotate(180deg);
    }
}

.mob-menu__list {
    li {
        border-bottom: 1px solid #EFEFEF;
    }

    a,
    span {
        color: #000000;
        font-size: 15px;
        display: block;
        padding-bottom: 15px;
        padding-top: 10px;
    }

    span {
        display: block;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            width: 6px;
            height: 10px;
            background: url("../img/arrow-grey.svg") no-repeat center;
        }
    }
}

.mob-menu__list_main {
    margin-bottom: 56px;
}

.placemark {
    font-weight: 500;
    position: relative;
    color: #38B2AC;
    padding-left: 29px;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        width: 18px;
        height: 22px;
        background: url("../img/marker.svg") no-repeat center;
    }
}

.mob-menu__mark {
    margin-bottom: 26px;
}

.mob-menu__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #686868;
    margin-bottom: 29px;
}

.social-mob {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    li {
        margin-right: 16px;
    }
}

.mob-menu__bottom {
    text-align: center;
    padding: 17px 10px;
    background: #EEEEEE;
}

.mob-menu__phone {
    color: #000000;
    font-size: 13px;
}

body {
    height: 2000px;
}

.sticky-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

    .container,
    .sticky-panel__nav {
        display: flex;
        align-items: center;
    }
}

.sticky-panel__dropdown {
    top: 79px;
}

.sticky-panel {
    background: #FFFFFF;
    box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.15);
}

.sticky-panel__nav>li {
    padding: 30px 0px;
    margin-right: 38px;

    &:hover {
        .sticky-panel__dropdown {
            display: block;
        }
    }
}

.sticky-panel__basket {
    position: relative;
    margin-left: auto;
    top: 10px;
}

.sticky-panel__search {
    width: 524px;
}