+brendsList

.catcategory-banner.container
    img(src="img/cat-banner.jpg")
    h1.cat-banner__title Парикмахерский<br> инструмент

.breadcrumbs.container
    a(href="#") Главная
    span Парикмахерский инструмент


.catcategory-cont.container
    .sidebar
        .category-block
            .category-block__top
                .category-block__title Категории
                .category-block__count 13

            ul.category-block__list
                li
                    a(href="#") Ножницы
                li
                    a(href="#") Комплекты ножниц
                li
                    a(href="#") Аксессуары для ножниц
                li
                    a(href="#") Машинки
                li
                    a(href="#") Машинки для создания локонов
                li
                    a(href="#") Щипцы для волос
                li
                    a(href="#") Фены
                li
                    a(href="#") Бритвы и лезвия
                li
                    a(href="#") Расходный материал
                li
                    a(href="#") Расчески, щетки, брашинги
                li
                    a(href="#") Принадлежности и аксессуары
                li
                    a(href="#") Наборы для парикмахера
                li
                    a(href="#") Инструменты для окрашивания

    .catcategory-galleries
        .catcategory-galleries__item
            h2.cont-title.container Ножницы
            .product-slider.swiper-container
                .swiper-wrapper
                    +actionSliderMain("", "", "10 000 руб.")
                    +actionSliderMain("action-tooltip_blue", "Лучшие отзывы", "")
                    +actionSliderMain
                    +actionSliderMain
                    +actionSliderMain("", "", "10 000 руб.")
                    +actionSliderMain("action-tooltip_blue", "Лучшие отзывы", "")
                    +actionSliderMain
                    +actionSliderMain

                .swiper-button-next.swiper-button-next-bg
                .swiper-button-prev.swiper-button-prev-bg

        .catcategory-galleries__item
            h2.cont-title.container Комплекты ножниц
            .product-slider.swiper-container
                .swiper-wrapper
                    +actionSliderMain("", "", "10 000 руб.")
                    +actionSliderMain("action-tooltip_blue", "Лучшие отзывы", "")
                    +actionSliderMain
                    +actionSliderMain

                .swiper-button-next.swiper-button-next-bg
                .swiper-button-prev.swiper-button-prev-bg












