.product
    .container
        .breadcrumbs
            a(href="#") Парикмахерский инструмент
            a(href="#") Ножницы
            span Ножницы 5 категории

        .product__brend 
            a(href="#") Suntachi

        h1.product__title Прямые ножницы JY-TJ-70V TATOO

        .product__main
            .product-status.product-status_mob В наличии
            .column.column_left
                .product-gallery-top.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .product-gallery-top__item
                                img(src="img/product.jpg")
                        .swiper-slide
                            .product-gallery-top__item
                                img(src="img/product.jpg")
                        .swiper-slide
                            .product-gallery-top__item
                                img(src="img/product.jpg")

                    .swiper-button-next.swiper-button-next-min
                    .swiper-button-prev.swiper-button-prev-min
                    .swiper-pagination

                .product-gallery-thumb.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .product-gallery-thumb__item
                                img(src="img/product.jpg")
                        .swiper-slide
                            .product-gallery-thumb__item
                                img(src="img/product.jpg")
                        .swiper-slide
                            .product-gallery-thumb__item
                                img(src="img/product.jpg")

            .column.column_right
                .product-info
                    .product-info__top
                        .product-info__item.product-info__item_left
                            .product-status.product-status_desctop В наличии

                            ul.product-info__column
                                li
                                    +starReyting
                                li
                                    +addFavor

                            ul.product-info__list
                                li
                                    span Артикул: 
                                    span 08-55
                                li
                                    span Сталь: 
                                    span Hitachi
                                li
                                    span Серия: 
                                    span Suntachi Classic Gold
                                li
                                    span Вид полотна: 
                                    span филировочный
                                li
                                    span Тип филировочных зубцов: 
                                    span изогнутые с просечкой

                            a(href="#").product-info__link Смотреть все характеристики

                            ul.product-info__select
                                li
                                    +selectProduct('product-select', 'Выбрать упаковку')
                                li
                                    +selectProduct('product-select', 'Выбрать крепление')

                        .product-info__item.product-info__item_right
                            button(type="button").delivery-btn Доставка

                            .delivery
                                .delivery__top
                                    .delivery__article Доставка в город:
                                    .delivery__city Москва

                                .delivery__middle
                                    .delivery__title Курьерская доставка
                                    .delivery__article на следующий день - 400 руб.
                                    .delivery__action Бесплатно от 5000 руб.

                                .delivery__bottom
                                    .delivery__title Самовывоз
                                    .delivery__article в день заказа по адресу: 3-я Парковая, д.41А, Бизнес-центр "На Парковой", 1 этаж
                                    .delivery__action Бесплатно

                                a(href="#").delivery__link Подробнее о доставке

                    .product-info__bottom
                        ul.product__add-basket
                            li
                                .product__price 
                                    |7 450 
                                    span руб.
                                //- .product__price__old 
                                //-     |6 450 
                                //-     span руб.
                            li
                                button(type="button").btn.product-addbasket В корзину

                                a(href="#").buy-one-click Купить в 1 клик

                        .product-action
                            .product-action__img
                                img(src="img/action-img.png")
                            .product-action__article 
                                |Чехол и масло для ножниц — 
                                span в подарок

        .delivery.delivery_laptop
            .delivery__item.delivery__top
                .delivery__article Доставка в город:
                .delivery__city Москва

            .delivery__item.delivery__middle
                .delivery__title Курьерская доставка
                .delivery__article на следующий день - 400 руб.
                .delivery__action Бесплатно от 5000 руб.

            .delivery__item.delivery__bottom
                .delivery__title Самовывоз
                .delivery__article в день заказа по адресу: 3-я Парковая, д.41А, Бизнес-центр "На Парковой", 1 этаж
                .delivery__action Бесплатно

        .product-specif
            .product-specif__title Характеристики товара

            .product-specif__columns
                .column
                    .product-specif__item.product-specif__item_top
                        .product-specif__sub-title.cont-subtitle Описание
                        .product-specif__article 
                            |Качественный профессиональный инструмент, созданный для филировки прядей и обладающий высокими эксплуатационными возможностями. Ножницы подойдут как для профессионального парикмахера, так и для начинающих специалистов.

                    .product-specif__item.product-specif__item_bottom
                        .product-specif__sub-title.cont-subtitle Состав
                        .product-specif__article 
                            |Качественный профессиональный инструмент, созданный для филировки прядей и обладающий высокими эксплуатационными возможностями. Ножницы подойдут как для профессионального парикмахера, так и для начинающих специалистов.

                        button(type="button").show-article Читать дальше
                .column
                    .product-specif__sub-title.cont-subtitle  Общие характеристики

                    ul.general-specif
                        li
                            .general-specif__title 
                                span Артикул
                            .general-specif__article 
                                span 09-55
                        li
                            .general-specif__title 
                                span Сталь
                            .general-specif__article 
                                span Hitachi Япония, 440А
                        li
                            .general-specif__title 
                                span Бренд
                            .general-specif__article 
                                span Suntachi
                        li
                            .general-specif__title 
                                span Серия
                            .general-specif__article 
                                span Suntachi Classic Gold
                        li
                            .general-specif__title 
                                span Вид полотна
                            .general-specif__article 
                                span Клиновидный
                        li
                            .general-specif__title 
                                span Упор
                            .general-specif__article 
                                span Съемный
                        li
                            .general-specif__title 
                                span Ручка
                            .general-specif__article 
                                span Эргономика, 2 плоскости
                        li
                            .general-specif__title 
                                span Размер колец
                            .general-specif__article 
                                span Верхние: 18-21 мм; Нижнее: 18-20 мм
                        li
                            .general-specif__title 
                                span Виды срезов и техника
                            .general-specif__article 
                                span Скользящий, прямой точный, точечный, поинтинг, техника выкройки
                        li
                            .general-specif__title 
                                span Страна производства
                            .general-specif__article 
                                span Южная Корея
                        li
                            .general-specif__title 
                                span Категории
                            .general-specif__article 
                                span Прямые ножницы, Ножницы для правшей

        .subscription-block
            .subscription-block__title Получите скидку -10%<br> на первый заказ

            form.subscription-form(action="#")
                input(type="text" placeholder="E-mail")
                button(type="submit").subscription-form__btn.btn

            .check-block.subscription-block__privacy
                input(type="checkbox" checked)#privacyCheck
                label(for="privacyCheck")
                    |Подтверждаю, что я ознакомлен и согласен с условиями 
                    a(href="#") политики конфиденциальности


        .reviews-block
            ul.reviews-block__top
                li
                    .reviews-block__heading.cont-subtitle Отзывы
                    .reviews-block__product на прямые ножницы JY-TJ-70V TATOO
                li
                    button(type="button").btn-black-cont.reviews-block__btn Написать отзыв

            .reviews-block__items
                .reviews
                    .column
                        .reviews__profile a

                    .column
                        .reviews__top
                            .column.column_left
                                ul.reviews-stars
                                    li
                                        +icon('star','star-icon')
                                    li
                                        +icon('star','star-icon')
                                    li
                                        +icon('star','star-icon')
                                    li
                                        +icon('star','star-icon')
                                    li
                                        +icon('star','star-icon')

                                .reviews__appraisal Потрясающие ножницы

                            .column.column_right
                                .reviews-gallery.swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .reviews-gallery__item
                                                img(src="img/rev-sl-1.jpg")
                                        .swiper-slide
                                            .reviews-gallery__item
                                                img(src="img/rev-sl-2.jpg")
                                        .swiper-slide
                                            .reviews-gallery__item
                                                img(src="img/rev-sl-1.jpg")
                                        .swiper-slide
                                            .reviews-gallery__item
                                                img(src="img/rev-sl-2.jpg")

                        .reviews__item
                            .reviews__dignity
                                .reviews__item-title Достоинства
                                .reviews__article Ну для кутикулы конечно они толстоваты. Для ногтей на пальчиках ног подходят идеально, очень удобно ими работать, на ногтях на пальцах рук не могу посоветовать, работа будет не качественная. Что касается заточки, она хорошая, для использования так скажем дома , для себя подойдет.

                            .reviews__limitations
                                .reviews__item-title Недостатки
                                .reviews__article Ну для кутикулы конечно они толстоваты. Для ногтей на пальчиках ног подходят идеально, очень удобно ими работать, на ногтях на пальцах рук не могу посоветовать, работа будет не качественная. Что касается заточки, она хорошая, для использования так скажем дома , для себя подойдет.

                        .reviews__bottom
                            .reviews__auth Екатерина, 23.04.2020

                            .reviews-like
                                button(type="button").reviews-like__btn.reviews-like__btn_bad
                                    +icon('like-bad','like-bad')

                                button(type="button").reviews-like__btn.reviews-like__btn_good
                                    +icon('like-good','like-good')

                .reviews
                    .column
                        .reviews__profile a

                    .column
                        .reviews__top
                            .column.column_left
                                ul.reviews-stars
                                    li
                                        +icon('star','star-icon')
                                    li
                                        +icon('star','star-icon')
                                    li
                                        +icon('star','star-icon')
                                    li
                                        +icon('star-grey','star-icon-grey')
                                    li
                                        +icon('star-grey','star-icon-grey')

                                .reviews__appraisal На троечку

                            //- .column.column_right
                            //-     .reviews-gallery.swiper-container
                            //-         .swiper-wrapper
                            //-             .swiper-slide
                            //-                 .reviews-gallery__item
                            //-                     img(src="img/rev-sl-1.jpg")
                            //-             .swiper-slide
                            //-                 .reviews-gallery__item
                            //-                     img(src="img/rev-sl-2.jpg")
                            //-             .swiper-slide
                            //-                 .reviews-gallery__item
                            //-                     img(src="img/rev-sl-1.jpg")
                            //-             .swiper-slide
                            //-                 .reviews-gallery__item
                            //-                     img(src="img/rev-sl-2.jpg")

                        .reviews__item
                            .reviews__dignity
                                .reviews__item-title Достоинства
                                .reviews__article Ну для кутикулы конечно они толстоваты. Для ногтей на пальчиках ног подходят идеально, очень удобно ими работать , на ногтях на пальцах рук не могу посоветовать, работа будет не качественная. Что касается заточки, она хорошая, для использования так скажем дома , для себя подойдет.

                            .reviews__limitations
                                .reviews__item-title Недостатки
                                .reviews__article Ну для кутикулы конечно они толстоваты. Для ногтей на пальчиках ног подходят идеально, очень удобно ими работать , на ногтях на пальцах рук не могу посоветовать, работа будет не качественная. Что касается заточки, она хорошая, для использования так скажем дома , для себя подойдет.

                        .reviews__bottom
                            .reviews__auth Екатерина, 23.04.2020

                            .reviews-like
                                button(type="button").reviews-like__btn.reviews-like__btn_bad
                                    +icon('like-bad','like-bad')

                                button(type="button").reviews-like__btn.reviews-like__btn_good
                                    +icon('like-good','like-good')

            .reviews__more
                button(type="button").btn-more 
                    span Показать еще

    form.addreview(action="#")
        .addreview__title Мой отзыв о прямых ножницах 5+ класса
        .addreview__cont
            .addreview__item
                ul.addreview__fields
                    li
                        .addreview__sub-title Общая оценка
                        .add-stars
                            input(type="radio" name="radio1" id="a1" class="radio1")
                            input(type="radio" name="radio1" id="a2" class="radio2")
                            input(type="radio" name="radio1" id="a3" class="radio3")
                            input(type="radio" name="radio1" id="a4" class="radio4")
                            input(type="radio" name="radio1" id="a5" class="radio5")

                            label(for="a1" class="label1")
                            label(for="a2" class="label2")
                            label(for="a3" class="label3")
                            label(for="a4" class="label4")
                            label(for="a5" class="label5")
                    li
                        .addreview__sub-title Что вам понравилось
                        input(type="text").addreview__inp
                    li
                        .addreview__sub-title Что не оправдало ваших ожиданий
                        textarea(placeholder="Ваш комментарий").addreview__inp.addreview__inp_comment
                    li
                        .addreview__sub-title Общее впечатление
                        textarea.addreview__inp.addreview__inp_txt


            .addreview__item
                .addreview__sub-title Вы можете добавить ваше фото товара
                .addreview__file
                    input(type="file" multiple)#addFile
                    label(for="addFile").add-file Прикрепить изображение

            .addreview__item
                button(type="submit").btn-black-cont.addreview__btn Отправить

                .addreview__privacy
                    |Публикуя отзыв, вы подтверждаете, что ознакомлены и согласны с 
                    a(href="#") условиями политики конфиденциальности 
                    |и 
                    a(href="#") публичной оферты

            .addreview__item
                .addreview__sub-title Какие из достоинств товара вы можете подтвердить?

                ul.addreview__checks
                    li
                        .check-block
                            input(type="checkbox")#ch1
                            label(for="ch1")
                                |Удобные
                    li
                        .check-block
                            input(type="checkbox")#ch2
                            label(for="ch2")
                                |Острые
                    li
                        .check-block
                            input(type="checkbox")#ch3
                            label(for="ch3")
                                |Для домашнего использования
                    li
                        .check-block
                            input(type="checkbox")#ch4
                            label(for="ch4")
                                |Для профессионалов
                    li
                        .check-block
                            input(type="checkbox")#ch5
                            label(for="ch5")
                                |Маленькие
    .product__recom
        .product-gallery-wrap.container
            h2.cont-title Вам может понравиться
            .recom-slider.swiper-container
                .swiper-wrapper
                    +actionSliderMain("", "", "10 000 руб.")
                    +actionSliderMain("action-tooltip_blue", "Лучшие отзывы", "")
                    +actionSliderMain
                    +actionSliderMain
                    +actionSliderMain

                .swiper-button-next.swiper-button-next-bg
                .swiper-button-prev.swiper-button-prev-bg

        .product-gallery-wrap.container
            h2.cont-title Вы недавно смотрели
            .recom-slider.swiper-container
                .swiper-wrapper
                    +actionSliderMain("", "", "10 000 руб.")
                    +actionSliderMain("action-tooltip_blue", "Лучшие отзывы", "")
                    +actionSliderMain
                    +actionSliderMain
                    +actionSliderMain

                .swiper-button-next.swiper-button-next-bg
                .swiper-button-prev.swiper-button-prev-bg


