.basket-cont.container
    .breadcrumbs
        a(href="#") Главная
        span Личный кабинет

    .basket-cont__top
        h2.lk-title.basket-cont__title Корзина
        .basket-cont__count 3 товара

    .basket-cont__columns
        .column
            .basket-cont__list
                .purchase
                    .purchase__img
                        img(src="img/basket-1.jpg")

                    ul.purchase__info
                        li
                            .purchase__tooltip.action-tooltip.action-tooltip_red sale
                            .purchase__brend Suntachi Salon
                            .purchase__name Прямые ножницы ZG-B PETROL 7 категория
                            .purchase__articule Арт. 345-111
                        li
                            .column
                                .switch-counter
                                    button(type="button").switch-counter__btn.switch-counter__btn_minus -
                                    input(type="text" value="3" disabled="disabled")
                                    button(type="button").switch-counter__btn.switch-counter__btn_plus +
                            .column
                                .purchase__prices
                                    .purchase__price-new 
                                        |1 282 
                                        span руб.
                                    .purchase__price-old
                                        b 1 610 
                                            span руб.

                                .purchase__price-prod
                                    |402 
                                    span руб/шт.

                    .purchase__buttons
                        .addfavor
                        button(type="button").purchase__delete

                .purchase
                    .purchase__img
                        img(src="img/basket-1.jpg")

                    ul.purchase__info
                        li
                            .purchase__tooltip.action-tooltip.action-tooltip_red sale
                            .purchase__brend Suntachi Salon
                            .purchase__name Прямые ножницы ZG-B PETROL 7 категория
                            .purchase__articule Арт. 345-111
                        li
                            .column
                                .switch-counter
                                    button(type="button").switch-counter__btn.switch-counter__btn_minus -
                                    input(type="text" value="3" disabled="disabled")
                                    button(type="button").switch-counter__btn.switch-counter__btn_plus +
                            .column
                                .purchase__prices
                                    .purchase__price-new 
                                        |1 282 
                                        span руб.
                                    .purchase__price-old
                                        b 1 610 
                                            span руб.

                                .purchase__price-prod
                                    |402 
                                    span руб/шт.

                    .purchase__buttons
                        .addfavor
                        button(type="button").purchase__delete
                .purchase
                    .purchase__img
                        img(src="img/basket-1.jpg")

                    ul.purchase__info
                        li
                            .purchase__tooltip.action-tooltip.action-tooltip_red sale
                            .purchase__brend Suntachi Salon
                            .purchase__name Прямые ножницы ZG-B PETROL 7 категория
                            .purchase__articule Арт. 345-111
                        li
                            .column
                                .switch-counter
                                    button(type="button").switch-counter__btn.switch-counter__btn_minus -
                                    input(type="text" value="3" disabled="disabled")
                                    button(type="button").switch-counter__btn.switch-counter__btn_plus +
                            .column
                                .purchase__prices
                                    .purchase__price-new 
                                        |1 282 
                                        span руб.
                                    .purchase__price-old
                                        b 1 610 
                                            span руб.

                                .purchase__price-prod
                                    |402 
                                    span руб/шт.

                    .purchase__buttons
                        .addfavor
                        button(type="button").purchase__delete
                .purchase
                    .purchase__img
                        img(src="img/basket-1.jpg")

                    ul.purchase__info
                        li
                            .purchase__tooltip.action-tooltip.action-tooltip_red sale
                            .purchase__brend Suntachi Salon
                            .purchase__name Прямые ножницы ZG-B PETROL 7 категория
                            .purchase__articule Арт. 345-111
                        li
                            .column
                                .switch-counter
                                    button(type="button").switch-counter__btn.switch-counter__btn_minus -
                                    input(type="text" value="3" disabled="disabled")
                                    button(type="button").switch-counter__btn.switch-counter__btn_plus +
                            .column
                                .purchase__prices
                                    .purchase__price-new 
                                        |1 282 
                                        span руб.
                                    .purchase__price-old
                                        b 1 610 
                                            span руб.

                                .purchase__price-prod
                                    |402 
                                    span руб/шт.

                    .purchase__buttons
                        .addfavor
                        button(type="button").purchase__delete

        .column
            form(action="#").purchase-form
                .purchase-form__title Ваша корзина

                ul.basket-totalinfo
                    li
                        span Товаров в корзине
                        span 3 шт
                    li
                        span На общую сумму
                        span 32 290 
                            i руб.
                    li
                        span Вы экономите
                        span.basket-total__econom - 2 300 
                            i руб.

                ul.basket-totalblock
                    li 
                        |Итого
                    li 
                        .basket-totalblock__price 32 000 
                            span руб.

                button(type="submit").purchase-form__btn.btn Оформить заказ

                .action-shipping
                    .action-shipping__img
                        img(src="img/shipping-icon.svg")

                    .action-shipping__article
                        |Для вас доставка курьером 
                        span бесплатна


            .purchase-action
                .purchase-action__article
                    |Добавьте товаров<br> на 
                    span 500 руб. 
                    |и получите 
                    span скидку 10% 
                    |на весь заказ! 

                .purchase-action__img
                    img(src="img/p-action.png")
