mixin orderProduct
    .order-product
        .order-product__img
            img(src="img/product.jpg")

        .order-product__info
            .order-product__title Прямые ножницы класса 5+ дизайнерские

            .order-product__articule Арт. 12-7896

            .order-product__price
                |2 800 
                span руб.

            a(href="#").order-product__link Оставить отзыв

.account
    ul.account__top.container
        li
            .breadcrumbs
                a(href="#") Главная
                span Личный кабинет
        li
            a(href="#").acc-exit.acc-exit_mob Выйти из аккаунта

    .account__columns.container
        .column
            .acc-tabs
                .acc-tabs__item(data-tab="#prof")
                    .acc-tabs__img.acc-tabs__img-profile

                    .acc-tabs__cont
                        .acc-tabs__title Настройки профиля
                        .acc-tabs__article Адрес, пароль

                .acc-tabs__item(data-tab="#disc")
                    .acc-tabs__img.acc-tabs__img-discounts
                    .acc-tabs__cont
                        .acc-tabs__title Программа лояльности
                        .acc-tabs__article Скидки

                .acc-tabs__item(data-tab="#myorders")
                    .acc-tabs__img.acc-tabs__img-hist

                    .acc-tabs__cont
                        .acc-tabs__title История заказов

                .acc-tabs__item(data-tab="#fav")
                    .acc-tabs__img.acc-tabs__img-favor

                    .acc-tabs__cont
                        .acc-tabs__title Избранное
                        .acc-tabs__article 3 товара

            .acc-exit_desc
                a(href="#").acc-exit Выйти из аккаунта

        .column
            .acc-tabscont
                .tab-favor.acc-tabscont__item#favors
                    ul.tab-favor__top
                        li
                            .acc-tabscont__title Избранное
                            .acc-tabscont__article Мы обязательно сообщим вам о скидках и акциях на избранные товары
                        li
                            button(type="button").tab-favor__btn Перенести все товары в корзину

                    .product-list
                        +productCardFavor
                        +productCardFavor('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')
                        +productCardFavor
                        +productCardFavor('action-tooltip_red', 'Sale', '10 600 руб.')
                        +productCardFavor
                        +productCardFavor('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')

                .tab-myorders.acc-tabscont__item#myorders
                    .acc-tabscont__title Мои заказы

                    .orders-block.orders-block_expect
                        .orders-block__top
                            .orders-block___num Заказ №897-654
                            .orders-block__status.orders-block__status_expect Ожидает выдачи

                        .orders-block__hidden
                            ul.orders-block__info
                                li
                                    .orders-block__subtitle Дата доставки
                                    .orders-block__article 9 июня 2020
                                li
                                    .orders-block__subtitle Способ доставки
                                    .orders-block__article Самовывоз
                                li
                                    .pickup Московский проспект, д.8, к. 1, офис 38
                                li
                                    .orders-block__price 
                                        |1 282 
                                        span руб.

                                    .orders-block__subtitle Оплата картой

                            .orders-list.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        +orderProduct
                                    .swiper-slide
                                        +orderProduct
                                    .swiper-slide
                                        +orderProduct
                                    .swiper-slide
                                        +orderProduct

                    .orders-block.orders-block_done
                        .orders-block__top
                            .orders-block___num Заказ №897-654
                            .orders-block__status.orders-block__status_done Получено

                        .orders-block__hidden
                            ul.orders-block__info
                                li
                                    .orders-block__subtitle Дата доставки
                                    .orders-block__article 9 июня 2020
                                li
                                    .orders-block__subtitle Способ доставки
                                    .orders-block__article Доставка курьероом
                                li
                                    .pickup Московский проспект, д.8, к. 1, офис 38
                                li
                                    .orders-block__price 
                                        |1 282 
                                        span руб.

                                    .orders-block__subtitle Оплата картой

                    .empty-order
                        .empty-order__article Тут будут отображаться ваши заказы
                        .empty-order__img
                            img(src="img/empty-order.png")


                .tab-profile.acc-tabscont__item#prof
                    .tab-profile__column
                        ul.tab-profile__name-block
                            li
                                input(type="text" value="Смирнова Екатерина" disabled).tab-profile__name
                            li
                                button(type="button").tab-profile__change-btn.editname Изменить

                        ul.tab-profile__contact
                            li
                                .tab-profile__subtitle Телефон

                                .tab-profile__phone
                                    a(href="tel:79114528912") +7 (911) 452-89-12

                                button(type="button").tab-profile__change-btn.editphone Изменить

                            li
                                .tab-profile__subtitle Почта

                                .tab-profile__email
                                    a(href="mailto:79114528912") user@mail.ru

                                button(type="button").tab-profile__change-btn.editemail Изменить

                        .tab-profile__subtitle Адрес доставки

                        .tab-profile__adress-block
                            ul.tab-profile__adress-item
                                li
                                    .tab-profile__adress Санкт-Петербург, ул. Зеленая, д.5, к.1, кв. 34
                                li
                                    button(type="button").tab-profile__change-btn.editadress Изменить

                        .tab-profile__addadress-block    
                            button(type="button").tab-profile__addadress-btn Добавить еще один адрес доставки

                        form.changepass(action="#")
                            .changepass__item
                                .changepass__title Сменить пароль

                                input(type="text" placeholder="Новый пароль").changepass__inp

                                input(type="text" placeholder="Повторите пароль").changepass__inp

                                button(type="submit").btn.changepass__btn Сохранить 

                    .tab-profile__column
                        .add-profilephoto
                            input(type="file")#addphoto
                            label(for="addphoto").addphoto-label
                                .add-profilephoto__img
                                    img(src="img/add-photo.png")