mixin brendsModal
    ul.brends-list__modal
        li
            a(href="#") Suntachi Classic
        li
            a(href="#") Suntachi Classic Gold
        li
            a(href="#") Suntachi Salon
        li
            a(href="#") Suntachi Salin Design
        li
            a(href="#") Suntachi Salin Design
        li
            a(href="#") Suntachi LUX
        li
            a(href="#") Suntachi ideal
        li
            a(href="#") Suntachi Elite
        li
            a(href="#") Suntachi Classic
        li
            a(href="#") Suntachi Classic Gold
        li
            a(href="#") Suntachi Salon
        li
            a(href="#") Suntachi Salin Design
        li
            a(href="#") Suntachi Salin Design
        li
            a(href="#") Suntachi LUX
        li
            a(href="#") Suntachi ideal
        li
            a(href="#") Suntachi Elite

.brends-links.container
    a(href="#").brends-links__all Все бренды

    a(href="#").brends-link__num 0-9

    ul.brends-list
        li
            a(href="#") a
            +brendsModal

        li
            a(href="#") b
            +brendsModal
        li
            a(href="#") c
            +brendsModal

        li
            a(href="#") d
            +brendsModal
        li 
            a(href="#") e
            +brendsModal
        li
            a(href="#") f
            +brendsModal
        li
            a(href="#") g
            +brendsModal

        li
            a(href="#") h
            +brendsModal

        li
            a(href="#") i
            +brendsModal

        li
            a(href="#") j
            +brendsModal

        li
            a(href="#") k
            +brendsModal

        li
            a(href="#") l
            +brendsModal

        li
            a(href="#") m
            +brendsModal

        li
            a(href="#") n
            +brendsModal

        li
            a(href="#") o
            +brendsModal

        li
            a(href="#") p
            +brendsModal

        li
            a(href="#") q
            +brendsModal

        li
            a(href="#") r
            +brendsModal

        li
            a(href="#") s
            +brendsModal

        li
            a(href="#") t
            +brendsModal

        li
            a(href="#") u
            +brendsModal

        li
            a(href="#") v
            +brendsModal

        li
            a(href="#") w
            +brendsModal

        li
            a(href="#") x
            +brendsModal

        li
            a(href="#") y
            +brendsModal

        li
            a(href="#") z
            +brendsModal

        li
            a(href="#") а
            +brendsModal

        li
            a(href="#") б
            +brendsModal

        li
            a(href="#") в
            +brendsModal

        li
            a(href="#") г
            +brendsModal

        li
            a(href="#") д
            +brendsModal

        li
            a(href="#") е
            +brendsModal

        li
            a(href="#") ж
            +brendsModal

        li
            a(href="#") з
            +brendsModal

        li
            a(href="#") и
            +brendsModal

        li
            a(href="#") к
            +brendsModal

        li
            a(href="#") л
            +brendsModal

        li
            a(href="#") м
            +brendsModal

        li
            a(href="#") н
            +brendsModal

        li
            a(href="#") о
            +brendsModal

        li
            a(href="#") п
            +brendsModal

        li
            a(href="#") р
            +brendsModal

        li
            a(href="#") с
            +brendsModal

        li
            a(href="#") т
            +brendsModal

        li
            a(href="#") у
            +brendsModal

        li
            a(href="#") ф
            +brendsModal

        li
            a(href="#") х
            +brendsModal

        li
            a(href="#") ц
            +brendsModal

        li
            a(href="#") ч
            +brendsModal

        li
            a(href="#") ш
            +brendsModal

        li
            a(href="#") щ
            +brendsModal

        li
            a(href="#") э
            +brendsModal

        li
            a(href="#") ю
            +brendsModal
        li
            a(href="#") я
            +brendsModal

.main-banner.container
    .banner-block.swiper-container
        .swiper-wrapper
            .swiper-slide
                .banner-block__item
                    .banner-block__img
                        img(src="img/top-sl-1.jpg")

                    .banner-block__cont
                        .banner-block__num 2=3

                        .banner-block__title на средства для стайлинга

            .swiper-slide
                .banner-block__item
                    .banner-block__img.banner-block__img-desc
                        img(src="img/top-sl-2.jpg")

                    .banner-block__img.banner-block__img-mob
                        img(src="img/top-sl-1.jpg")

                    .banner-block__cont.banner-block__cont_next
                        .banner-block__article BaByliss Pro

                        .banner-block__title.banner-block__title_small Акция на щипцы<br> для завивки 

            .swiper-slide
                .banner-block__item.banner-block__item_last
                    .banner-block__cont.banner-block__cont_static
                        .banner-block__title.banner-block__title-grey.banner-block__title_small
                            span Скидочная карта 
                            |в подарок

                        .banner-block__article.banner-block__article-grey при покупке от 6000 рублей

                    .banner-block__img-min
                        img(src="img/sl-girl.png")

        .swiper-pagination


.actions-block
    .container
        .tabs-btn
            span(data-tab="#recomtab").tabs-btn__el Мастера рекомендуют
            span(data-tab="#actiontab").tabs-btn__el Акции
            span(data-tab="#newstab").tabs-btn__el Новинки

    .action-tab#recomtab
        .tab-slider.swiper-container.tab-sl-1
            .swiper-wrapper
                +actionSliderMain("action-tooltip_blue", "Лучшие отзывы")
                +actionSliderMain("action-tooltip_blue", "Лучшие отзывы")
                +actionSliderMain("action-tooltip_orange", "Лучшая цена")
                +actionSliderMain("action-tooltip_red", "Sale")

            .swiper-button-next.swiper-button-next-bg
            .swiper-button-prev.swiper-button-prev-bg

    .action-tab#actiontab
        .tab-slider.swiper-container.tab-sl-2
            .swiper-wrapper
                +actionSliderMain("action-tooltip_blue", "Лучшие отзывы")
                +actionSliderMain("action-tooltip_blue", "Лучшие отзывы")
                +actionSliderMain("action-tooltip_orange", "Лучшая цена")
                +actionSliderMain("action-tooltip_red", "Sale")

            .swiper-button-next.swiper-button-next-bg
            .swiper-button-prev.swiper-button-prev-bg

    .action-tab#newstab
        .tab-slider.swiper-container.tab-sl-3
            .swiper-wrapper
                +actionSliderMain("action-tooltip_blue", "Лучшие отзывы")
                +actionSliderMain("action-tooltip_blue", "Лучшие отзывы")
                +actionSliderMain("action-tooltip_orange", "Лучшая цена")
                +actionSliderMain("action-tooltip_red", "Sale")

            .swiper-button-next.swiper-button-next-bg
            .swiper-button-prev.swiper-button-prev-bg

.news-block
    .news-block__item
        h2.cont-title.cont-title_grey Новости
        .news-block__article Самые последние новости о трендах от ведущих специалистов-парикмахеров

    .news-block__item
        .news-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .news-slider__item
                        .news-slider__img.news-slider__img_brt
                            img(src="img/news-1.jpg")

                        .news-slider__article Сложно сказать, почему младая поросль матереет

                        .news-slider__date 7.12.2020

                .swiper-slide
                    .news-slider__item
                        .news-slider__img.news-slider__img_brb
                            img(src="img/news-2.jpg")

                        .news-slider__article Сложно сказать, почему младая поросль матереет

                        .news-slider__date 7.12.2020

                .swiper-slide
                    .news-slider__item
                        .news-slider__img.news-slider__img_blt
                            img(src="img/news-3.jpg")

                        .news-slider__article Сложно сказать, почему младая поросль матереет

                        .news-slider__date 7.12.2020

mixin popCat(imgSrc, linktext)
    li
        .popular-cat__img
            a(href="#")
                img(src=imgSrc)

        .popular-cat__title 
            a(href="#")= linktext

        .popular-cat__article более 400 товаров

.popular-cat.container
    h2.cont-title.cont-title_grey Популярные категории
    .popular-cat__columns
        .popular-cat__column
            ul.popular-cat__list
                +popCat("img/pop-cat-1.png", "Прямые ножницы")
                +popCat("img/pop-cat-1.png", "Аксессуары для ножниц")
                +popCat("img/pop-cat-1.png", "Машинки для стрижки")
                +popCat("img/pop-cat-1.png", "Брашинги")
                +popCat("img/pop-cat-1.png", "Машинки для стрижки")
                +popCat("img/pop-cat-1.png", "Брашинги")
                +popCat("img/pop-cat-1.png", "Аксессуары для ножниц")
                +popCat("img/pop-cat-1.png", "Прямые ножницы")

        .popular-cat__column
            .popular-cat__banner
                .popular-cat__banner-cont
                    ul.popular-cat__banner-info
                        li 2 = 3
                        li на средства<br> для стайлинга

                    a(href="#").popular-cat__banner-link
                        |Перейти

.about-us.container
    .about-us__item
        .about-us__img
            img(src="img/represent.jpg")

    .about-us__item
        h2.cont-title.cont-title_grey 
            |Artaius  
            span — официальные представители

        .cont-txt.about-us__txt
            p Мы являемся официальными представителями компании. Приятно, граждане, наблюдать, как независимые государства преданы социально-демократической анафеме! Вот вам яркий пример современных тенденций - постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения.

        a(href="#").about-us__link Подарочные сертификаты

.tags.tags_cont.container
    ul.tags-list
        li
            a(href="#") Шампунь
        li
            a(href="#") Краска для волос
        li
            a(href="#") Маски для сухих волос
        li
            a(href="#") Фен
        li
            a(href="#") Лак
        li
            a(href="#") Гигиеническая помада
        li
            a(href="#") Ножницы
        li
            a(href="#") Масло для волос
        li
            a(href="#") Аксессуары
        li
            a(href="#") Лак


        li
            a(href="#") Гигиеническая помада
        li
            a(href="#") Шампунь
        li
            a(href="#") Краска для волос
        li
            a(href="#") Маски для сухих волос
        li
            a(href="#") Аксессуары
        li
            a(href="#") Масло для волос
        li
            a(href="#") Ножницы
        li
            a(href="#") Фен

        li
            a(href="#") Шампунь
        li
            a(href="#") Краска для волос
        li
            a(href="#") Маски для сухих волос
        li
            a(href="#") Фен
        li
            a(href="#") Лак
        li
            a(href="#") Гигиеническая помада
        li
            a(href="#") Ножницы
        li
            a(href="#") Масло для волос
        li
            a(href="#") Аксессуары
        li
            a(href="#") Лак


        li
            a(href="#") Гигиеническая помада
        li
            a(href="#") Шампунь
        li
            a(href="#") Краска для волос
        li
            a(href="#") Маски для сухих волос
        li
            a(href="#") Аксессуары
        li
            a(href="#") Масло для волос
        li
            a(href="#") Ножницы
        li
            a(href="#") Фен

