.brends-links.container
    a(href="#").brends-links__all Все бренды

    a(href="#").brends-link__num 0-9

    ul.brends-list
        li
            a(href="#") a
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
        li
            a(href="#") b
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
        li
            a(href="#") c
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite

        li
            a(href="#") d
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
        li 
            a(href="#") e
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
        li
            a(href="#") f
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
        li
            a(href="#") g
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") h
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") i
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") j
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") k
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") l
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") m
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") n
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") o
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") p
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") q
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") r
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") s
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") t
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") u
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") v
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") w
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") x
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") y
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") z
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") а
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") б
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") в
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") г
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") д
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") е
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") ж
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") з
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") и
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") к
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") л
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") м
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") н
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") о
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") п
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") р
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") с
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") т
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") у
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") ф
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") х
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") ц
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") ч
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") ш
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") щ
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") э
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

        li
            a(href="#") ю
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
        li
            a(href="#") я
            ul.brends-list__modal
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold
                li
                    a(href="#") Suntachi Salon
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi Salin Design
                li
                    a(href="#") Suntachi LUX
                li
                    a(href="#") Suntachi ideal
                li
                    a(href="#") Suntachi Elite
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Classic Gold

.main-banner.container
    .banner-block.swiper-container
        .swiper-wrapper
            .swiper-slide
                .banner-block__item
                    .banner-block__img
                        img(src="img/top-sl-1.jpg")

                    .banner-block__cont
                        .banner-block__num 2=3

                        .banner-block__title на средства для стайлинга

            .swiper-slide
                .banner-block__item
                    .banner-block__img.banner-block__img-desc
                        img(src="img/top-sl-2.jpg")

                    .banner-block__img.banner-block__img-mob
                        img(src="img/top-sl-1.jpg")

                    .banner-block__cont.banner-block__cont_next
                        .banner-block__article BaByliss Pro

                        .banner-block__title.banner-block__title_small Акция на щипцы<br> для завивки 

            .swiper-slide
                .banner-block__item.banner-block__item_last
                    .banner-block__cont.banner-block__cont_static
                        .banner-block__title.banner-block__title-grey.banner-block__title_small
                            span Скидочная карта 
                            |в подарок

                        .banner-block__article.banner-block__article-grey при покупке от 6000 рублей

                    .banner-block__img-min
                        img(src="img/sl-girl.png")

        .swiper-pagination



