mixin orderProduct
    .order-product
        .order-product__img
            img(src="img/product.jpg")

        .order-product__info
            .order-product__title Прямые ножницы класса 5+ дизайнерские

            .order-product__articule Арт. 12-7896

            .order-product__price
                |2 800 
                span руб.

            a(href="product-card.html").order-product__link Оставить отзыв

.account
    ul.account__top.container
        li
            .breadcrumbs
                a(href="#") Главная
                span Личный кабинет
        li
            a(href="#").acc-exit.acc-exit_mob Выйти из аккаунта

    .account__columns.container
        .column
            .acc-tabs
                .acc-tabs__item(data-tab="#prof")
                    .acc-tabs__img.acc-tabs__img-profile

                    .acc-tabs__cont
                        .acc-tabs__title Настройки профиля
                        .acc-tabs__article Адрес, пароль

                .acc-tabs__item(data-tab="#disc")
                    .acc-tabs__img.acc-tabs__img-discounts
                    .acc-tabs__cont
                        .acc-tabs__title Программа лояльности
                        .acc-tabs__article Скидки

                .acc-tabs__item(data-tab="#myorders")
                    .acc-tabs__img.acc-tabs__img-hist

                    .acc-tabs__cont
                        .acc-tabs__title История заказов

                .acc-tabs__item(data-tab="#fav")
                    .acc-tabs__img.acc-tabs__img-favor

                    .acc-tabs__cont
                        .acc-tabs__title Избранное
                        .acc-tabs__article 3 товара

            .acc-exit_desc
                a(href="#").acc-exit Выйти из аккаунта

        .column
            .acc-tabscont
                //- Избранное *
                .tab-favor.acc-tabscont__item#fav
                    ul.tab-favor__top
                        li
                            .acc-tabscont__title Избранное
                            .acc-tabscont__article Мы обязательно сообщим вам о скидках и акциях на избранные товары
                        li
                            button(type="button").tab-favor__btn Перенести все товары в корзину

                    .product-list
                        +productCardFavor
                        +productCardFavor('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')
                        +productCardFavor
                        +productCardFavor('action-tooltip_red', 'Sale', '10 600 руб.')
                        +productCardFavor
                        +productCardFavor('action-tooltip_blue', 'Лучшие отзывы', '10 600 руб.')

                //- Мои заказы *
                .tab-myorders.acc-tabscont__item#myorders
                    .acc-tabscont__title Мои заказы

                    .orders-block.orders-block_expect
                        .orders-block__top
                            .orders-block___num Заказ №897-654
                            .orders-block__status.orders-block__status_expect Ожидает выдачи

                        .orders-block__hidden
                            ul.orders-block__info
                                li
                                    .orders-block__subtitle Дата доставки
                                    .orders-block__article 9 июня 2020
                                li
                                    .orders-block__subtitle Способ доставки
                                    .orders-block__article Самовывоз
                                li
                                    .pickup Московский проспект, д.8, к. 1, офис 38
                                li
                                    .orders-block__price 
                                        |1 282 
                                        span руб.

                                    .orders-block__subtitle Оплата картой

                            .orders-list.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        +orderProduct
                                    .swiper-slide
                                        +orderProduct
                                    .swiper-slide
                                        +orderProduct
                                    .swiper-slide
                                        +orderProduct

                    .orders-block.orders-block_done
                        .orders-block__top
                            .orders-block___num Заказ №897-654
                            .orders-block__status.orders-block__status_done Получено

                        .orders-block__hidden
                            ul.orders-block__info
                                li
                                    .orders-block__subtitle Дата доставки
                                    .orders-block__article 9 июня 2020
                                li
                                    .orders-block__subtitle Способ доставки
                                    .orders-block__article Доставка курьероом
                                li
                                    .pickup Московский проспект, д.8, к. 1, офис 38
                                li
                                    .orders-block__price 
                                        |1 282 
                                        span руб.

                                    .orders-block__subtitle Оплата картой

                    .empty-order
                        .empty-order__article Тут будут отображаться ваши заказы
                        .empty-order__img
                            img(src="img/empty-order.png")

                //- Профиль *
                .tab-profile.acc-tabscont__item#prof
                    .tab-profile__column
                        ul.tab-profile__name-block
                            li
                                input(type="text" value="Смирнова Екатерина" disabled).tab-profile__name
                            li
                                button(type="button").tab-profile__change-btn.editname Изменить

                        ul.tab-profile__contact
                            li
                                .tab-profile__subtitle Телефон

                                .tab-profile__phone
                                    input(type="text" value="+7 (911) 452-89-12" disabled)

                                button(type="button").tab-profile__change-btn.editcont Изменить

                            li
                                .tab-profile__subtitle Почта

                                .tab-profile__email
                                    input(type="text" value="user@mail.ru" disabled)

                                button(type="button").tab-profile__change-btn.editcont Изменить

                        .tab-profile__subtitle Адрес доставки

                        .tab-profile__adress-block
                            ul.tab-profile__adress-item
                                li
                                    .tab-profile__adress Санкт-Петербург, ул. Зеленая, д.5, к.1, кв. 34
                                li
                                    button(type="button").tab-profile__change-btn.editadress Изменить

                            ul.tab-profile__adress-item
                                li
                                    .tab-profile__adress Санкт-Петербург, пр. Мира кв. 34
                                    .tab-profile__adress-comment вход со двора, 5 этаж
                                li
                                    button(type="button").tab-profile__change-btn.editadress Изменить

                        .tab-profile__addadress-block    
                            button(type="button").tab-profile__addadress-btn.editadress Добавить еще один адрес доставки

                        form.changepass(action="#")
                            .changepass__item
                                .changepass__title Сменить пароль

                                input(type="text" placeholder="Новый пароль").changepass__inp.changepass__inp_new

                                input(type="text" placeholder="Повторите пароль").changepass__inp.changepass__inp_old

                                button(type="submit").btn.changepass__btn Сохранить 

                    .tab-profile__column
                        form(action="#" enctype="multipart/form-data").add-profilephoto
                            input(type="file")#addphoto
                            label(for="addphoto").addphoto-label
                                .addphoto-label__item
                                    .userphoto
                                        img(src="img/user.jpg")
                                    .add-profilephoto__img
                                        img(src="img/add-photo.png")
                                    span.add-profilephoto__txt Добавить фото

                //- Дисконтная программа *
                .tab-discount.acc-tabscont__item#disc
                    .acc-tabscont__title Дисконтная программа 

                    .tab-discount__inner
                        .tab-discount__column
                            .tab-discount__cont.tab-discount__cont_top
                                p Мы ценим наших клиентов и считаем, что каждая покупка должна вам приносить не только радость, но и выгоду!
                                p Получайте и увеличивайте скидки, совершая покупки:

                            ul.tab-discount__list
                                li
                                    span -5%
                                    p при единовременной покупке на сумму от 5000 до 10 000 рублей
                                li
                                    span -10%
                                    p при единовременной покупке на сумму от 10 001 до 30 000 рублей
                                li
                                    span -15%
                                    p при единовременной покупке на сумму от 30 001 рубля

                            a(href="#").tab-discount__link Положения о дисконтной программме

                            .tab-discount__subtitle У вас уже есть дисконтная карта?

                            .tab-discount__cont.tab-discount__cont_bottom
                                p Если у вас есть пластиковая дисконтная карта, то вы можете указать ее номер и воспользоваться вашей скидкой:

                            form(action="#").tab-discount__form
                                input(type="text" placeholder="Номер карты")
                                button(type="submit").btn-black Сохранить

                        .tab-discount__column
                            ul.tab-discount__action
                                li
                                    .tab-discount__img
                                        img(src="img/action-image.png" width="196" height="194")
                                li
                                    .tab-discount__subtitle Сейчас ваша скидка
                                    .tab-discount__count 10%



