+brendsList

.catcategory-banner.container
    img(src="img/cat-banner.jpg")
    h1.cat-banner__title Парикмахерский<br> инструмент

.breadcrumbs.container
    a(href="#") Парикмахерский инструмент
    a(href="#") Ножницы
    span Ножницы 5 категории

.catalog.container
    h1.cont-title.catalog__title Прямые ножницы 5+ класс

    .tags.catalog__tags
        ul.tags-list
            li
                a(href="#") Дизайнерские
            li
                a(href="#") Для барберов
            li
                a(href="#") Больше 7 дюймов
            li
                a(href="#") Больше 7 дюймов
            li
                a(href="#") Хит продаж

    form.filter-block(action="#")
        .filter-block__column
            .filter-block__item.filter-block__item_top
                ul.filter-block__list
                    li
                        span Цена, Руб.
                    li
                        span Модельный ряд
                    li
                        span Длина лезвия
                    li
                        span Сталь
                    li
                        span Упор
                    li
                        span Длина лезвия

            .filter-block__item.filter-block__item_bottom
                ul.filter-block__res
                    li
                        .filter-block__res-item
                            span Съемный
                            .filter-block__res-del
                    li
                        .filter-block__res-item
                            span 440А, HITACHI, Япония, твердость по Роквеллу: 55-57 ед.
                            .filter-block__res-del
                    li
                        .filter-block__res-item
                            span Съемный
                            .filter-block__res-del
                    li
                        .filter-block__res-item
                            span 440А, HITACHI, Япония, твердость по Роквеллу: 55-57 ед.
                            .filter-block__res-del
                    li
                        .filter-block__res-item
                            span Съемный
                            .filter-block__res-del
                    li
                        .filter-block__res-item
                            span 440А, HITACHI, Япония, твердость по Роквеллу: 55-57 ед.
                            .filter-block__res-del

                button(type="button").filter-block__clear Очистить

        .filter-block__column
            button(type="submit").filter-block__btn Применить фильтр