.shippingpage.container
    .breadcrumbs
        a(href="#") Главная
        span Доставка и оплата

    .shippingpage__top
        .column
            h1.shippingpage__title Доставка
            p 
                |Мы осуществляем отправку заказов по всем регионам РФ. Стоимость доставки рассчитывается исходя из выбранной транспортной компании, 
                |веса и габаритов отправления.

            .shippingprice 
                |Стоимость доставки в 
                span Санкт-Петербург

            button(type="button").btn-black.changecity-btn Изменить город

        .column
            .track-img
                img(src="img/track.png" width="316" height="297")

    .shippinginfo
        .shippinginfo__item.shippinginfo__item_pickup
            .shippinginfo__columns
                .column
                    .shippinginfo__title Самовывоз
                    .shippinginfo__article.shippinginfo__grey В день заказа при условии наличия товара
                    .shippinginfo__ourplace 3-я Парковая, д.41А, бизнес-центр "На Парковой"
                    .shippinginfo__worktime.shippinginfo__grey Время работы: Пн - Пт с 10:00 до 18:00
                    .shippinginfo__officephone.shippinginfo__grey Телефон офиса: +7 (499) 163-12-00
                    .shippinginfo__action Бесплатно 

                .column
                    .our-location
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A164747396a4f050c82061a5f46fbde016e878fdcc48d888116671d0147edd8e7&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>

        .shippinginfo__item.shippinginfo__item_courier
            .shippinginfo__title Курьерская доставка 

            ul.shippinginfo__list
                li
                    .shippinginfo__grey На следующий рабочий день при оформлении заказа до 18.00 текущего дня
                li
                    |Доставка по Москве — 400 руб.
                li
                    | Доставка по Московской области (до 10 км от МКАД) — 600 руб.
                li
                    .shippinginfo__action Бесплатно от 5000 руб. 

        .shippinginfo__item.shippinginfo__item_pochtarossii
            .shippinginfo__img
                img(src="img/pochta_rossii.png" width="136" height="66")

            .shippinginfo__title Доставка Почтой России 
            .shippinginfo__grey Срок хранения посылок — 15 дней 
            .shippinginfo__grey Минимальная сумма заказа — 1000 руб.
            .shippinginfo__action Бесплатно от 3000 руб.

            ul.shippinginfo__list
                li
                    .shippinginfo__subtitle Доставка с наложенным платежом
                    .shippinginfo__article.shippinginfo__grey 
                        |Вы оплачиваете товар и почтовые расходы при получении заказа на Почте. 
                        |Почтой России взимается комиссия за услугу перевода наложенного платежа (тарифы Почты РФ)
                li
                    .shippinginfo__subtitle Доставка без наложенного платежа
                    .shippinginfo__article.shippinginfo__grey Оплата происходит на сайте.

        .shippinginfo__item.shippinginfo__item_sdek
            .shippinginfo__img
                img(src="img/sdek.png" width="135" height="74")

            .shippinginfo__title СДЭК
            .shippinginfo__article.shippinginfo__grey Доставка осуществляется при оплате заказа на сайте<br> Срок доставки — 3-4 дня

            ul.shippinginfo__list
                li
                    .shippinginfo__subtitle Курьерская доставка
                    .shippinginfo__actionblock
                        b 350 руб.
                        .shippinginfo__action Бесплатно от 2500 руб.
                li
                    .shippinginfo__subtitle Самовывоз из пункта выдачи
                    .shippinginfo__actionblock
                        b 350 руб.
                        .shippinginfo__action Бесплатно от 2500 руб.

        .shippinginfo__item.shippinginfo__item_boxbery
            .shippinginfo__img
                img(src="img/boxbery.png" width="135" height="74")

            .shippinginfo__title Boxberry
            .shippinginfo__article.shippinginfo__grey Возможна оплата заказа при получении<br> Срок доставки — 3-24 дня

            ul.shippinginfo__list
                li
                    .shippinginfo__subtitle Курьерская доставка
                    .shippinginfo__actionblock
                        b 350 руб.
                        .shippinginfo__action Бесплатно от 2500 руб.
                li
                    .shippinginfo__subtitle Самовывоз из пункта выдачи
                    .shippinginfo__actionblock
                        b 350 руб.
                        .shippinginfo__action Бесплатно от 2500 руб.


    .deliveryserv
        .deliveryserv__title Пункты самовывоза в Санкт-Петербурге

        .deliveryserv__count Всего 278 точек самовывоза

        button(type="button").deliveryserv__switch Показать списком

        .deliveryserv__inner
            .deliveryserv__item.deliveryserv__item_list
                .delivery-list
                    ul
                        li
                            .delivery-list__title Boxberry
                            .delivery-list__item
                                .delivery-list__article 190000, Санкт-Петербург г, Пискаревский пр-кт, д.25 Лит А
                                .delivery-list__action
                                    b 167 руб. 
                                    span Бесплатно от 2500 руб. 
                        li
                            .delivery-list__title Boxberry
                            .delivery-list__item
                                .delivery-list__article 190000, Санкт-Петербург г, Пискаревский пр-кт, д.25 Лит А
                                .delivery-list__action
                                    b 167 руб. 
                                    span Бесплатно от 2500 руб. 
                        li
                            .delivery-list__title Boxberry
                            .delivery-list__item
                                .delivery-list__article 190000, Санкт-Петербург г, Пискаревский пр-кт, д.25 Лит А
                                .delivery-list__action
                                    b 167 руб. 
                                    span Бесплатно от 2500 руб. 
                        li
                            .delivery-list__title Boxberry
                            .delivery-list__item
                                .delivery-list__article 190000, Санкт-Петербург г, Пискаревский пр-кт, д.25 Лит А
                                .delivery-list__action
                                    b 167 руб. 
                                    span Бесплатно от 2500 руб. 
                        li
                            .delivery-list__title Boxberry
                            .delivery-list__item
                                .delivery-list__article 190000, Санкт-Петербург г, Пискаревский пр-кт, д.25 Лит А
                                .delivery-list__action
                                    b 167 руб. 
                                    span Бесплатно от 2500 руб. 
                        li
                            .delivery-list__title Boxberry
                            .delivery-list__item
                                .delivery-list__article 190000, Санкт-Петербург г, Пискаревский пр-кт, д.25 Лит А
                                .delivery-list__action
                                    b 167 руб. 
                                    span Бесплатно от 2500 руб. 
                        li
                            .delivery-list__title Boxberry
                            .delivery-list__item
                                .delivery-list__article 190000, Санкт-Петербург г, Пискаревский пр-кт, д.25 Лит А
                                .delivery-list__action
                                    b 167 руб. 
                                    span Бесплатно от 2500 руб. 
                        li
                            .delivery-list__title Boxberry
                            .delivery-list__item
                                .delivery-list__article 190000, Санкт-Петербург г, Пискаревский пр-кт, д.25 Лит А
                                .delivery-list__action
                                    b 167 руб. 
                                    span Бесплатно от 2500 руб. 

            .deliveryserv__item.deliveryserv__item_map
                .deliveryserv__map
                    img(src="img/dev-map.jpg")

    .paymentmetods
        .paymentmetods__title Способы оплаты 
        .paymentmetods__columns
            .column
                ul.paymentdetail-list
                    li
                        .paymentdetail-list__title Оплата  онлайн
                        .paymentdetail-list__article Оплата банковской картой или Яндекс.Деньгами
                    li
                        .paymentdetail-list__title Оплата при получении
                        .paymentdetail-list__article Наличными курьеру или доступным способом в пункте самовывоза
                    li
                        .paymentdetail-list__title Банковский перевод
                        .paymentdetail-list__article Сбербанк Онлайн, QIWI, GPay

            .column
                .paymentmetods__img
                    img(src="img/phone-img.png")




