//- Затемнение фона при выводе окна *
.overlay

//- Ввод адреса в личном кабинете *
.modal-lk.modal-lk_addadress
    form(action="#")
        button(type="button").close-modal

        .addadress-column-left
            .modal-lk__title Введите адрес или выберите на карте

            .modal-lk__inputs
                input(type="text" placeholder="Адрес").modal-lk__inp
                input(type="text" placeholder="Квартира").modal-lk__inp
                input(type="text" placeholder="Этаж").modal-lk__inp
                input(type="text" placeholder="Подъезд").modal-lk__inp
                input(type="text" placeholder="Индекс").modal-lk__inp

            textarea(placeholder="Комментарий").modal-lk__textarea

            button(type="submit").btn-black.modal-lk__btn Привезти сюда

        .addadress-column-right
            .map-adress#addAdress
                //- img(src="img/map-adress.jpg")

//- Выбор способа доставки в личном кабинете *
.modal-lk.modal-lk_check
    button(type="button").close-modal

    .modal-tablist
        button(type="button" data-tab="#addadress") Курьером
        button(type="button" data-tab="#addpickup") Самовывоз

    .modal-lk__tab#addadress
        .addadress-column-left
            form(action="#")
                .modal-lk__title Введите адрес или выберите на карте

                .modal-lk__inputs
                    input(type="text" placeholder="Адрес").modal-lk__inp
                    input(type="text" placeholder="Квартира").modal-lk__inp
                    input(type="text" placeholder="Этаж").modal-lk__inp
                    input(type="text" placeholder="Подъезд").modal-lk__inp
                    input(type="text" placeholder="Индекс").modal-lk__inp

                textarea(placeholder="Комментарий").modal-lk__textarea

                button(type="submit").btn-black.modal-lk__btn Привезти сюда

        .addadress-column-right
            .map-adress#adressmap
                //- img(src="img/map-adress.jpg")

    .modal-lk__tab#addpickup
        .addadress-column-left
            form(action="#")
                .modal-lk__title Выберите пункт самовывоза
                .modal-pickupwrap
                    .modal-pickup
                        ul.modal-pickup__list
                            li
                                .modal-pickup__item пр-т Богатырский, 35, корп. 1
                            li 
                                .modal-pickup__item ул. Елецкая, 3
                            li
                                .modal-pickup__item пр. Энгельса, 18
                            li 
                                .modal-pickup__item ул. Планерная, 63/1
                            li
                                .modal-pickup__item пр-кт Среднеохтинский,, 25/19, литер А, пом. 10-Н
                            li 
                                .modal-pickup__item ул. Гаванская, 42, лит. А, пом. 15Н
                            li
                                .modal-pickup__item ул. Торфяная дорога, 2, корп. 1, 2.1/1
                            li 
                                .modal-pickup__item пр. Энгельса, 18
                            li 
                                .modal-pickup__item ул. Планерная, 63/1
                            li
                                .modal-pickup__item пр-кт Среднеохтинский,, 25/19, литер А, пом. 10-Н
                            li 
                                .modal-pickup__item ул. Гаванская, 42, лит. А, пом. 15Н
                            li
                                .modal-pickup__item ул. Торфяная дорога, 2, корп. 1, 2.1/1
                            li 
                                .modal-pickup__item пр. Энгельса, 18

                    button(type="submit").btn-black.modal-lk__btn Заберу отсюда

        .addadress-column-right
            .map-adress#mappickup
                //- img(src="img/map-adress.jpg")

//- Окно с вводом номера *
.modal.modal-basket#modalphone
    form(action="#")
        button(type="button").close-modal
        .modal__title Оформление заказа
        .modal-breadcrumbs
            a(href="#") Корзина
            a(href="#") Вход
            span Доставка

        .modal__inpblock
            input(type="text" placeholder="+7 (___) ___-__-__").modal__inp.phoneinp

        button(type="submit").btn.modal-basket__btn Войти и оформить заказ

        .modal__article
            |Для оформления заказа в Artarius используется телефон, вы получите бесплатное SMS с кодом для подтверждения. 
            |После этого вы сможете заполнить адрес доставки и закончить оформление заказа. 
            |Вы также можете авторизоваться используя 
            a(href="#") электронную почту.

        .modal__subtitle или войти через

        .social-auth
            a(href="#")
                img(src="img/vk-auth.svg" width="54" height="54")
            a(href="#")
                img(src="img/google-auth.svg" width="54" height="54")
            a(href="#")
                img(src="img/yandex-auth.svg" width="54" height="54")

//- Окно с вводом SMS *
.modal.modal-basket#modalsms
    form(action="#")
        button(type="button").close-modal
        .modal__title Оформление заказа
        .modal-breadcrumbs
            a(href="#") Корзина
            a(href="#") Вход
            span Доставка

        .modal__inpblock
            input(type="text" placeholder="+7 (___) ___-__-__").modal__inp.phoneinp
            input(type="text" placeholder="Код из SMS").modal__inp.smsinp

            ul.sms-status
                li
                    a(href="#") Не получили SMS?
                li
                    |Отправить повторно через:  
                    span.sms-status__count 124

        button(type="submit").btn.modal-basket__btn Войти и оформить заказ

        .modal__article
            |Для оформления заказа в Artarius используется телефон, вы получите бесплатное SMS с кодом для подтверждения. 
            |После этого вы сможете заполнить адрес доставки и закончить оформление заказа. 
            |Вы также можете авторизоваться используя 
            a(href="#") электронную почту.

        .modal__subtitle или войти через

        .social-auth
            a(href="#")
                img(src="img/vk-auth.svg" width="54" height="54")
            a(href="#")
                img(src="img/google-auth.svg" width="54" height="54")
            a(href="#")
                img(src="img/yandex-auth.svg" width="54" height="54")

//- Окно авторизации и регистрации *
.modal.modalauth#modalauth
    button(type="button").close-modal
    .modalauth__tablink
        button(type="button" data-tab="#logintab").modal__title Вход
        button(type="button" data-tab="#regtab").modal__title Зарегистрироваться

    .modalauth__tab.modalauth__tab_reg#regtab
        form(action="#").formreg
            ul.modalauth__inplist
                li
                    input(type="text" placeholder="Email").modal__inp
                li
                    input(type="password" placeholder="Пароль").modal__inp.modal__inp_pass
                    button(type="button").passbtn
                li
                    input(type="password" placeholder="Повторите пароль").modal__inp.modal__inp_pass
                li
                    input(type="text" placeholder="Номер телефона").modal__inp.phoneinp.modal__inp_error
                    .input-error Пожалуйста, укажите верный номер
                li
                    input(type="text" placeholder="Имя и Фамилия").modal__inp

            button(type="submit").btn.formreg__btn Зарегистрироваться

    .modalauth__tab.modalauth__tab_login#logintab
        form(action="#").formlogin
            ul.modalauth__inplist
                li
                    .formlogin__tab-email
                        input(type="text" placeholder="Email").modal__inp

                    .formlogin__tab-phone
                        input(type="text" placeholder="Номер телефона").modal__inp.phoneinp
                li
                    input(type="password" placeholder="Пароль").modal__inp.modal__inp_pass
                    button(type="button").passbtn

            ul.formlogin__columns
                li
                    .check-block
                        input(type="checkbox" checked)#remembercheck
                        label(for="remembercheck") Запомнить меня
                li
                    button(type="button").forgotpass Забыли пароль?

            ul.formlogin__columns
                li
                    button(type="submit").btn.formlogin__btn Войти
                li
                    button(type="button").switchinp Войти по номеру телефона

    .modal__subtitle или войти через
    .social-auth
        a(href="#")
            img(src="img/vk-auth.svg" width="54" height="54")
        a(href="#")
            img(src="img/google-auth.svg" width="54" height="54")
        a(href="#")
            img(src="img/yandex-auth.svg" width="54" height="54")

//- Окно восттановления пароля *
.modal.modalpassrestore#modapassrestore
    button(type="button").close-modal

    form(action="#").formpassrestore
        .modal__title Восстановление пароля

        input(type="text" placeholder="Email").modal__inp

        button(type="submit").btn.formpassrestore__btn Отправить

//- Окно отправки подвтерждения на почту *
.modal.modalfinish
    button(type="button").close-modal

    form.formfinish(action="#")
        .modal__title Самое сложное позади!
        .modalfinish__article Мы отправили вам письмо. Пожалуйста, подтвердите адрес электронной почты, перейдя по ссылке.

        ul.formfinish__columns
            li
                button(type="submit").btn.formfinish__btn Отправить еще раз
            li
                span Не пришло письмо?

//- Окно обратной связи *
.feedbackmodal
    form.feedback-form(action="#")
        button(type="button").close-modal

        .feedbackmodal__title Оставьте свой номер и мы перезвоним 

        input(type="text" placeholder="Имя").modal__inp

        input(type="text" placeholder="Номер телефона").modal__inp.phoneinp

        button(type="submit").btn.feedback-form__btn Отправить















