.header
    .header__top
        .container
            .column
                .select.select_city
                    select
                        option Санкт-Петербург
                        option Москва
                        option Саратов


                .shipping-action Бесплатная доставка*

                ul.top-nav
                    li
                        a(href="#") Контакты
                    li
                        a(href="#") Доставка и оплата
                    li
                        a(href="#") О нас

            .column
                .social
                    .social__title Связаться с нами

                    ul.social-list.social-list_header
                        li
                            a(href="#") 
                                +icon('inst-icon','inst-icon inst-header')

                        li
                            a(href="#")
                                +icon('vk-icon','vk-icon vk-header')

                        li
                            a(href="#")
                                +icon('whatsup-icon','whatsup-icon whatsup-header')

                .login
                    a(href="#") Вход / Регистрация
                    //- span / 
                    //- a(href="#") Регистрация
    .header__laptop
        .header__middle.container
            .column
                button(type="button").burger

                .logo.logo_header
                    img(src="img/logo.svg")

                form.search.search_header.searchdesc(action="#" method="POST")
                    input(type="text" placeholder="Начните поиск").search__inp
                    button(type="submit").search__btn 
                        span Найти

            .column
                ul.header__phone
                    li
                        a(href="tel:78126699665").phone-link.phone-link_header +7 (812) 669-96-65
                    li
                        .sub-info Пн — Вс: 10:30 — 19:00

                ul.header__basket
                    li
                        a(href="#").favor-link
                            +icon('favor','favor-icon favor-grey')

                    li
                        a(href="#").login-icon
                            +icon('login-icon','login-icon login-icon-grey')
                    li
                        .basket.basketheader
                            a(href="#").basket__item
                                .basket-full
                                +icon('basket','basket-icon basket-icon-grey')

                            .basket__item
                                .basket__price 
                                    |8 967 
                                    <span>&#8381;</span>

                                .sub-info 3 товара  

                        +basketModal    

        .mobile-search  
            form.search(action="#" method="POST")
                input(type="text" placeholder="Начните поиск").search__inp
                button(type="submit").search__btn 
                    span Найти

        .header__bottom
            .container
                button(type="button").catalog-btn Каталог

                ul.main-nav
                    li
                        a(href="#") Парикмахерский инструмент
                        +dropdownMenuDesctop
                    li
                        a(href="#") Для волос
                        +dropdownMenuDesctop
                    li  
                        a(href="#") Для лица
                        +dropdownMenuDesctop
                    li
                        a(href="#").main-nav__action Акции
                    li  
                        a(href="#").main-nav__popular Популярные
                    li
                        a(href="#") Мастера рекомендуют

.menu-laptop
    .menu-laptop__inner
        .menu-laptop__main
            ul.menu-laptop__list
                li.is-active
                    span Парикмахерский инструмент
                    +dropDownMenuLaptop
                li
                    span Для волос
                    +dropDownMenuLaptop
                li
                    span Для лица
                    +dropDownMenuLaptop
                li
                    span Бренды
                    +dropDownMenuLaptop

            .commercial.commercial_laptop
                .commercial__item
                    .commercial__img
                        a(href="#")
                            img(src="img/commerce-prod.jpg")

                    .action-tooltip.action-tooltip_purple Лучшая цена

                    .commercial__firm Suntachi

                    .commercial__title
                        a(href="#") Прямые ножницы ZG-B PETROL

                    .commercial__price
                        .commercial__price-old
                            strike 12 500

                        .commercial__price-new
                            |10 300 
                            <span>&#8381;</span>

                .tags.tags_black
                    a(href="#") Ножницы Suntachi
                    a(href="#") Брашинги
                    a(href="#") Фен Dyson

.mob-menu
    .mob-menu__item
        .mob-menu__top
            ul.mob-menu__list.mob-menu__list_main
                li.mob-menu__cat
                    span.mob-menu__cat-link Парикмахерский инструмент
                    .mob-menu__dropdown
                        .mob-menu__back Парикмахерский инструмент

                        .all-product-link 
                            a(href="#") Посмотреть все товары
                        ul.mob-menu__list-hidden
                            li
                                span.mob-menu__cat-link Ножницы
                                .mob-menu__dropdown
                                    .mob-menu__back Ножницы

                                    .all-product-link 
                                        a(href="#") Посмотреть все товары
                                    ul.mob-menu__list-hidden
                                        li
                                            span.mob-menu__cat-link Прямые ножницы
                                            .mob-menu__dropdown
                                                .mob-menu__back Прямые ножницы

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") 3 класс
                                                    li
                                                        a(href="#") 4 класс
                                                    li
                                                        a(href="#") 5 класс
                                                    li
                                                        a(href="#") 5+ класс
                                        li
                                            span.mob-menu__cat-link Филировочные ножницы
                                            .mob-menu__dropdown
                                                .mob-menu__back Филировочные ножницы

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") 3 класс
                                                    li
                                                        a(href="#") 4 класс
                                                    li
                                                        a(href="#") 5 класс
                                                    li
                                                        a(href="#") 5+ класс
                                        li
                                            span.mob-menu__cat-link Комплекты ножниц
                                            .mob-menu__dropdown
                                                .mob-menu__back Комплекты ножниц

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") 3 класс
                                                    li
                                                        a(href="#") 4 класс
                                                    li
                                                        a(href="#") 5 класс
                                                    li
                                                        a(href="#") 5+ класс
                                        li
                                            span.mob-menu__cat-link Аксессуары для ножниц
                                            .mob-menu__dropdown
                                                .mob-menu__back Аксессуары для ножниц

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") 3 класс
                                                    li
                                                        a(href="#") 4 класс
                                                    li
                                                        a(href="#") 5 класс
                                                    li
                                                        a(href="#") 5+ класс
                            li
                                span.mob-menu__cat-link Ножницы для левшей
                                .mob-menu__dropdown
                                    .mob-menu__back Ножницы для левшей

                                    .all-product-link 
                                        a(href="#") Посмотреть все товары
                                    ul.mob-menu__list-hidden
                                        li
                                            span.mob-menu__cat-link Прямые ножницы
                                            .mob-menu__dropdown
                                                .mob-menu__back Прямые ножницы

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") 3 класс
                                                    li
                                                        a(href="#") 4 класс
                                                    li
                                                        a(href="#") 5 класс
                                                    li
                                                        a(href="#") 5+ класс
                                        li
                                            span.mob-menu__cat-link Филировочные ножницы
                                            .mob-menu__dropdown
                                                .mob-menu__back Филировочные ножницы

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") 3 класс
                                                    li
                                                        a(href="#") 4 класс
                                                    li
                                                        a(href="#") 5 класс
                                                    li
                                                        a(href="#") 5+ класс
                                        li
                                            span.mob-menu__cat-link Комплекты ножниц
                                            .mob-menu__dropdown
                                                .mob-menu__back Комплекты ножниц

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") 3 класс
                                                    li
                                                        a(href="#") 4 класс
                                                    li
                                                        a(href="#") 5 класс
                                                    li
                                                        a(href="#") 5+ класс
                                        li
                                            span.mob-menu__cat-link Аксессуары для ножниц
                                            .mob-menu__dropdown
                                                .mob-menu__back Аксессуары для ножниц

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") 3 класс
                                                    li
                                                        a(href="#") 4 класс
                                                    li
                                                        a(href="#") 5 класс
                                                    li
                                                        a(href="#") 5+ класс

                            li
                                span.mob-menu__cat-link Расходники
                                .mob-menu__dropdown
                                    .mob-menu__back Расходники

                                    .all-product-link 
                                        a(href="#") Посмотреть все товары
                                    ul.mob-menu__list-hidden
                                        li
                                            span.mob-menu__cat-link Расчески, щетки, брашинги
                                            .mob-menu__dropdown
                                                .mob-menu__back Расчески, щетки, брашинги

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") Расчески
                                                    li
                                                        a(href="#") Щетки
                                                    li
                                                        a(href="#") Брашинги
                                                    li
                                                        a(href="#") Очистители расчесок и брашингов
                                        li
                                            a(href="#") Кисти
                                        li
                                            a(href="#") Миски
                                        li
                                            a(href="#") Шпатели
                            li
                                span.mob-menu__cat-link Приборы для волос
                                .mob-menu__dropdown
                                    .mob-menu__back Приборы для волос

                                    .all-product-link 
                                        a(href="#") Посмотреть все товары
                                    ul.mob-menu__list-hidden
                                        li
                                            span.mob-menu__cat-link Щипцы для волос
                                            .mob-menu__dropdown
                                                .mob-menu__back Щипцы для волос

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") Для выпрямления
                                                    li
                                                        a(href="#") Гофре
                                                    li
                                                        a(href="#") Для завивки
                                        li
                                            span.mob-menu__cat-link Машинки
                                            .mob-menu__dropdown
                                                .mob-menu__back Машинки

                                                .all-product-link 
                                                    a(href="#") Посмотреть все товары
                                                ul.mob-menu__list-hidden
                                                    li
                                                        a(href="#") Машинки для стрижки волос
                                                    li
                                                        a(href="#") Машинки для стрижки секущихся концов
                                                    li
                                                        a(href="#") Триммеры
                                                    li
                                                        a(href="#") Шейверы
                                                    li
                                                        a(href="#") Принадлежности к машинкам
                                        li
                                            a(href="#") Фены
                                        li
                                            a(href="#") Бритвы и лезвия
                                        li
                                            a(href="#") Принадлежности и аксессуары
                                        li
                                            a(href="#") Наборы для парикмахера
                                        li
                                            a(href="#") Инструменты для окрашивания

                li.mob-menu__cat
                    span.mob-menu__cat-link Для волос
                li.mob-menu__cat
                    span.mob-menu__cat-link Для лица
                li
                    a(href="#") Акции
                li
                    a(href="#") Популярное
                li
                    a(href="#") Мастера рекомендуют
                li
                    a(href="#") Все бренды

            .placemark.mob-menu__mark Санкт-Петербург

            ul.mob-menu__links
                li
                    a(href="#") Контакты
                li
                    a(href="#") Доставка и оплата
                li
                    a(href="#") О нас

            ul.social-mob
                li
                    a(href="#")
                        img(src="img/inst-bl.svg") 
                li
                    a(href="#")
                        img(src="img/vk-bl.svg") 
                li
                    a(href="#")
                        img(src="img/wh-bl.svg") 

        .mob-menu__bottom
            a(href="tel:78126699665").mob-menu__phone +7 (812) 669-96-65

.sticky-panel
    .container
        ul.sticky-panel__nav
            li
                a(href="#") Парикмахерский инструмент
                .dropdownmenu.dropdownmenu_desctop.sticky-panel__dropdown
                    .dropdownmenu__inner
                        .dropdownmenu__item
                            .dropdownmenu__title 
                                a(href="#") Ножницы

                            .dropdownmenu__sub-title
                                a(href="#") Прямые Ножницы

                            ul.dropdownmenu__list.dropdownmenu__list_column
                                li
                                    a(href="#") 3 класс
                                li
                                    a(href="#") 4 класс
                                li
                                    a(href="#") 5 класс
                                li
                                    a(href="#") 5+ класс

                            .dropdownmenu__sub-title
                                a(href="#") Филировочные ножницы

                            ul.dropdownmenu__list.dropdownmenu__list_column
                                li
                                    a(href="#") 3 класс
                                li
                                    a(href="#") 4 класс
                                li
                                    a(href="#") 5 класс
                                li
                                    a(href="#") 5+ класс

                            .dropdownmenu__title 
                                a(href="#") Ножницы для левшей

                            .dropdownmenu__sub-title
                                a(href="#") Прямые Ножницы

                            ul.dropdownmenu__list.dropdownmenu__list_column
                                li
                                    a(href="#") 3 класс
                                li
                                    a(href="#") 4 класс
                                li
                                    a(href="#") 5 класс
                                li
                                    a(href="#") 5+ класс

                            .dropdownmenu__sub-title
                                a(href="#") Филировочные ножницы

                            ul.dropdownmenu__list.dropdownmenu__list_column
                                li
                                    a(href="#") 3 класс
                                li
                                    a(href="#") 4 класс
                                li
                                    a(href="#") 5 класс
                                li
                                    a(href="#") 5+ класс

                        .dropdownmenu__item
                            .dropdownmenu__sub-title
                                a(href="#") Комплекты ножниц

                            ul.dropdownmenu__list.dropdownmenu__list_column
                                li
                                    a(href="#") 3 класс
                                li
                                    a(href="#") 4 класс
                                li
                                    a(href="#") 5 класс
                                li
                                    a(href="#") 5+ класс

                            .dropdownmenu__sub-title
                                a(href="#") Аксессуары для ножниц

                            ul.dropdownmenu__list.dropdownmenu__list_column
                                li
                                    a(href="#") Масло
                                li
                                    a(href="#") Чехлы
                                li
                                    a(href="#") Кобура

                            .dropdownmenu__title 
                                a(href="#") Расходники

                            ul.dropdownmenu__list.dropdownmenu__list_black
                                li
                                    a(href="#") Кисти
                                li
                                    a(href="#") Миски
                                li
                                    a(href="#") Шпатели и лопатки
                                li
                                    a(href="#") Выжиматели
                                li
                                    a(href="#") Диспансеры
                                li
                                    a(href="#") Наборы

                            .dropdownmenu__sub-title
                                a(href="#") Расчески, щетки, брашинги

                            ul.dropdownmenu__list.dropdownmenu__list_black
                                li
                                    a(href="#") Расчески
                                li
                                    a(href="#") Щетки
                                li
                                    a(href="#") Брашинги
                                li
                                    a(href="#") Очистители расчесок и брашингов

                        .dropdownmenu__item
                            .dropdownmenu__title 
                                a(href="#") Приборы для волос

                            .dropdownmenu__sub-title
                                a(href="#") Щипцы для волос

                            ul.dropdownmenu__list
                                li
                                    a(href="#") Для выпрямления
                                li
                                    a(href="#") Гофре
                                li
                                    a(href="#") Для завивки

                            .dropdownmenu__sub-title
                                a(href="#") Машинки для создания локонов

                            .dropdownmenu__sub-title
                                a(href="#") Машинки

                            ul.dropdownmenu__list
                                li
                                    a(href="#") Машинки для стрижки волос
                                li
                                    a(href="#") Машинки для стрижки секущихся концов
                                li
                                    a(href="#") Триммеры
                                li
                                    a(href="#") Шейверы
                                li
                                    a(href="#") Принадлежности к машинкам

                            ul.dropdownmenu__list.dropdownmenu__list_black
                                li
                                    a(href="#") Фены
                                li
                                    a(href="#") Бритвы и лезвия
                                li
                                    a(href="#") Принадлежности и аксессуары
                                li
                                    a(href="#") Наборы для парикмахера
                                li
                                    a(href="#") Инструменты для окрашивания

                        .dropdownmenu__item
                            .dropdownmenu__title 
                                a(href="#") Модельный ряд ножниц

                            ul.dropdownmenu__list
                                li
                                    a(href="#") Suntachi Classic
                                li
                                    a(href="#") Suntachi Classic Gold
                                li
                                    a(href="#") Suntachi Salon
                                li
                                    a(href="#") Suntachi Salin Design
                                li
                                    a(href="#") Suntachi LUX
                                li
                                    a(href="#") Suntachi Ideal
                                li
                                    a(href="#") Suntachi Ideal
                                li
                                    a(href="#") Suntachi Elite
                                li
                                    a(href="#") Akitz
                                li
                                    a(href="#") Suntachi Premium
                                li
                                    a(href="#") Takara

                        .commercial.commercial_md
                            .commercial__item
                                .commercial__img
                                    a(href="#")
                                        img(src="img/commerce-prod.jpg")

                                .commercial__action Скидка -40%

                                .commercial__firm Suntachi

                                .commercial__title
                                    a(href="#") Прямые ножницы ZG-B PETROL

                                .commercial__price
                                    .commercial__price-old
                                        strike 12 500

                                    .commercial__price-new
                                        |10 300 
                                        <span>&#8381;</span>

                            .tags
                                a(href="#") Ножницы Suntachi
                                a(href="#") Брашинги
                                a(href="#") Фен Dyson
            li
                a(href="#") Для волос
            li
                a(href="#") Для лица

        form.search.sticky-panel__search(action="#" method="POST")
            input(type="text" placeholder="Начните поиск").search__inp
            button(type="submit").search__btn
                span Найти

        ul.header__basket.sticky-panel__basket
            li
                a(href="#").favor-link
                    img(src="img/favor.svg")
            li
                a(href="#").login-icon
                    img(src="img/login-icon.svg")
            li
                .basket
                    a(href="#").basket__item
                        +icon('basket','basket-icon basket-icon-grey')
                        //- img(src="img/basket.svg")

                    .basket__item
                        .basket__price 
                            |8 967 
                            <span>&#8381;</span>

                        .sub-info 3 товара

+brendsList