.header
    .header__top
        .container
            .column
                .select.select_city
                    select
                        option Санкт-Петербург
                        option Москва
                        option Саратов


                .shipping-action Бесплатная доставка*

                ul.top-nav
                    li
                        a(href="#") Контакты
                    li
                        a(href="#") Доставка и оплата
                    li
                        a(href="#") О нас

            .column
                .social
                    .social__title Связаться с нами

                    ul.social-list
                        li
                            a(href="#")
                                img(src="img/inst-icon.svg") 
                        li
                            a(href="#")
                                img(src="img/vk-icon.svg") 
                        li
                            a(href="#")
                                img(src="img/whatsapp-icon.svg") 

                .login
                    a(href="#") Вход 
                    span / 
                    a(href="#") Регистрация

    .header__middle.container
        .column
            button(type="button").burger

            .logo.logo_header
                img(src="img/logo.svg")

            form.seacrh(action="#" method="POST")
                input(type="text" placeholder="Начните поиск").seacrh__inp
                button(type="submit").seacrh__btn 
                    span Найти

        .column
            ul.header__phone
                li
                    a(href="tel:78126699665").phone-link.phone-link_header +7 (812) 669-96-65
                li
                    .sub-info Пн — Вс: 10:30 — 19:00

            ul.header__basket
                li
                    a(href="#").favor-link
                        img(src="img/favor.svg")
                li
                    a(href="#").login-icon
                        img(src="img/login-icon.svg")
                li
                    .basket
                        a(href="#").basket__item
                            img(src="img/basket.svg")

                        .basket__item
                            .basket__price 
                                |8 967 
                                <span>&#8381;</span>

                            .sub-info 3 товара          

    .header__bottom
        .container
            button(type="button").catalog-btn Каталог

            ul.main-nav
                li
                    a(href="#") Парикмахерский инструмент
                li
                    a(href="#") Для волос
                li  
                    a(href="#") Для лица
                li
                    a(href="#").main-nav__action Акции
                li  
                    a(href="#").main-nav__popular Популярные
                li
                    a(href="#") Мастера рекомендуют

.dropdownmenu
    .dropdownmenu__item
        .dropdownmenu__title 
            a(href="#") Ножницы

        .dropdownmenu__sub-title
            a(href="#") Прямые Ножницы

        ul.dropdownmenu__list.dropdownmenu__list_column
            li
                a(href="#") 3 класс
            li
                a(href="#") 4 класс
            li
                a(href="#") 5 класс
            li
                a(href="#") 5+ класс

        .dropdownmenu__sub-title
            a(href="#") Филировочные ножницы

        ul.dropdownmenu__list.dropdownmenu__list_column
            li
                a(href="#") 3 класс
            li
                a(href="#") 4 класс
            li
                a(href="#") 5 класс
            li
                a(href="#") 5+ класс

        .dropdownmenu__title 
            a(href="#") Ножницы для левшей

        .dropdownmenu__sub-title
            a(href="#") Прямые Ножницы

        ul.dropdownmenu__list.dropdownmenu__list_column
            li
                a(href="#") 3 класс
            li
                a(href="#") 4 класс
            li
                a(href="#") 5 класс
            li
                a(href="#") 5+ класс

        .dropdownmenu__sub-title
            a(href="#") Филировочные ножницы

        ul.dropdownmenu__list.dropdownmenu__list_column
            li
                a(href="#") 3 класс
            li
                a(href="#") 4 класс
            li
                a(href="#") 5 класс
            li
                a(href="#") 5+ класс

    .dropdownmenu__item
        .dropdownmenu__sub-title
            a(href="#") Комплекты ножниц

        ul.dropdownmenu__list.dropdownmenu__list_column
            li
                a(href="#") 3 класс
            li
                a(href="#") 4 класс
            li
                a(href="#") 5 класс
            li
                a(href="#") 5+ класс

        .dropdownmenu__sub-title
            a(href="#") Аксессуары для ножниц

        ul.dropdownmenu__list.dropdownmenu__list_column
            li
                a(href="#") Масло
            li
                a(href="#") Чехлы
            li
                a(href="#") Кобура

        .dropdownmenu__title 
            a(href="#") Расходники

        ul.dropdownmenu__list.dropdownmenu__list_black
            li
                a(href="#") Кисти
            li
                a(href="#") Миски
            li
                a(href="#") Шпатели и лопатки
            li
                a(href="#") Выжиматели
            li
                a(href="#") Диспансеры
            li
                a(href="#") Наборы

        .dropdownmenu__sub-title
            a(href="#") Расчески, щетки, брашинги

        ul.dropdownmenu__list.dropdownmenu__list_black
            li
                a(href="#") Расчески
            li
                a(href="#") Щетки
            li
                a(href="#") Брашинги
            li
                a(href="#") Очистители расчесок и брашингов

    .dropdownmenu__item
        .dropdownmenu__title 
            a(href="#") Приборы для волос

        .dropdownmenu__sub-title
            a(href="#") Щипцы для волос

        ul.dropdownmenu__list
            li
                a(href="#") Для выпрямления
            li
                a(href="#") Гофре
            li
                a(href="#") Для завивки

        .dropdownmenu__sub-title
            a(href="#") Машинки для создания локонов

        .dropdownmenu__sub-title
            a(href="#") Машинки

        ul.dropdownmenu__list
            li
                a(href="#") Машинки для стрижки волос
            li
                a(href="#") Машинки для стрижки секущихся концов
            li
                a(href="#") Триммеры
            li
                a(href="#") Шейверы
            li
                a(href="#") Принадлежности к машинкам

        ul.dropdownmenu__list.dropdownmenu__list_black
            li
                a(href="#") Фены
            li
                a(href="#") Бритвы и лезвия
            li
                a(href="#") Принадлежности и аксессуары
            li
                a(href="#") Наборы для парикмахера
            li
                a(href="#") Инструменты для окрашивания

    .dropdownmenu__item
        .dropdownmenu__title 
            a(href="#") Модельный ряд ножниц

        ul.dropdownmenu__list
            li
                a(href="#") Suntachi Classic
            li
                a(href="#") Suntachi Classic Gold
            li
                a(href="#") Suntachi Salon
            li
                a(href="#") Suntachi Salin Design
            li
                a(href="#") Suntachi LUX
            li
                a(href="#") Suntachi Ideal
            li
                a(href="#") Suntachi Ideal
            li
                a(href="#") Suntachi Elite
            li
                a(href="#") Akitz
            li
                a(href="#") Suntachi Premium
            li
                a(href="#") Takara

    .commercial
        .commercial__item
            .commercial__img
                img(src="img/commerce-prod.jpg")

            .commercial__action Скидка -40%

            .commercial__firm Suntachi

            .commercial__title Прямые ножницы ZG-B PETROL

            .commercial__price
                .commercial__price-old
                    strike 12 500

                .commercial__price-new
                    |10 300 
                    <span>&#8381;</span>

        .tags
            a(href="#") Ножницы Suntachi
            a(href="#") Брашинги
            a(href="#") Фен Dyson














