//- SVG спрайты *
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/img/svg/sprite.svg#" + name)

//- Быстрый просмотр товара *
mixin fastviewItem
	.fastview-item
		.fastview__brend 
			|Suntachi
			button(type="button").fastview__close

		.fastview__title Прямые ножницы 5+ класс

		.fastview__inner
			.fastview__item-left
				.fastview-gallery-top.swiper-container
					.swiper-wrapper
						.swiper-slide
							.fastview-gallery__item
								img(src="img/fw-product.jpg")
						.swiper-slide
							.fastview-gallery__item
								img(src="img/fw-product.jpg")
						.swiper-slide
							.fastview-gallery__item
								img(src="img/fw-product.jpg")

					.swiper-button-next.swiper-button-next-min
					.swiper-button-prev.swiper-button-prev-min

				.fastview-gallery-thumb.swiper-container
					.swiper-wrapper
						.swiper-slide
							.fastview-gallery__item
								img(src="img/fw-product.jpg")
						.swiper-slide
							.fastview-gallery__item
								img(src="img/fw-product.jpg")
						.swiper-slide
							.fastview-gallery__item
								img(src="img/fw-product.jpg")

				.fastview__more-link
					a(href="#") Больше информации о товаре

			.fastview__item-right
				.fastview__top-info
					.reviews-reyting
						ul.reviews-reyting__stars
							li
								+icon('star','star-icon')
							li
								+icon('star','star-icon')
							li
								+icon('star','star-icon')
							li
								+icon('star','star-icon')
							li
								+icon('star','star-icon')

						a(href="#").reviews-reyting__article 3 отзыва

					.fastview__status В наличии

					.addfavor-block
						.addfavor
						.addfavor__txt В избранное

				ul.fastview__specif
					li
						span Артикул
						span 09-55
					li
						span Сталь
						span Hitachi Япония, 440А
					li
						span Бренд
						span Suntachi
					li
						span Серия
						span Suntachi Classic Gold
					li
						span Вид полотна
						span Клиновидный
					li
						span Упор
						span Съемный
					li
						span Ручка
						span Эргономика, 2 плоскости
					li
						span Размер колец
						span Верхние: 18-21 мм; Нижнее: 18-20 мм
					li
						span Виды срезов и техника
						span Скользящий, прямой точный, точечный, поинтинг, техника выкройки
					li
						span Страна производства
						span Южная Корея
					li
						span Категории
						span Прямые ножницы, Ножницы для правшей

				ul.fastview__columns
					li
						.select.select-refprod
							select
								option Выбрать упаковку
								option Тест 1
								option Тест 2
					li
						.select.select-refprod
							select
								option Выбрать крепление
								option Тест 1
								option Тест 2
					li
						.fastview__price-info
							.fastview__price-new
								.action-tooltip.action-tooltip_red Sale
								.fastview__price-new 
									|7 450  
									span руб.

							.fastview__price-old 
								|8 320  
								span руб.
					li
						button(type="button").btn.fastview__btn В корзину

//- Карточка товара в слайдере *
mixin productCard(tooltipClassColor, tooltipText, oldPrice)
	.product-card
		+fastviewItem
		.addfavor
		.product-card__img
			a(href="#")
				img(src="img/product-1.jpg")

			button(type="button").fastview-btn Быстрый просмотр

		if tooltipClassColor
			div(class="action-tooltip "+tooltipClassColor)= tooltipText

		.product-card__brend 
			a(href="#") Suntachi Salon

		.product-card__name
			a(href="#") Прямые ножницы ZG-B PETROL 7 категория

		ul.specif
			li
				span.specif__name Сталь: 
				span.specif__article Hitachi Япония, 440С
			li
				span.specif__name Вид полотна: 
				span.specif__article Филировочный

		ul.product-card__column
			li
				button(type="button").btn.btn_buy Купить
			li
				ul.product-card__column-list
					li
						span Цена
						if oldPrice
							div(class="product-card__old-price")= oldPrice
					li
						.product-card__new-price 
							|10 300 
							span руб.

//- Слайдер акций на главной *
mixin actionSliderMain(tooltipClassColor, tooltipText, oldPrice)
	.swiper-slide
		+productCard(tooltipClassColor, tooltipText, oldPrice)


mixin dropdownMenuDesctop
	.dropdownmenu.dropdownmenu_desctop
		.dropdownmenu__inner
			.dropdownmenu__item
				.dropdownmenu__title 
					a(href="#") Ножницы

				.dropdownmenu__sub-title
					a(href="#") Прямые Ножницы

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс

				.dropdownmenu__sub-title
					a(href="#") Филировочные ножницы

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс

				.dropdownmenu__title 
					a(href="#") Ножницы для левшей

				.dropdownmenu__sub-title
					a(href="#") Прямые Ножницы

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс

				.dropdownmenu__sub-title
					a(href="#") Филировочные ножницы

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс

			.dropdownmenu__item
				.dropdownmenu__sub-title
					a(href="#") Комплекты ножниц

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс

				.dropdownmenu__sub-title
					a(href="#") Аксессуары для ножниц

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") Масло
					li
						a(href="#") Чехлы
					li
						a(href="#") Кобура

				.dropdownmenu__title 
					a(href="#") Расходники

				ul.dropdownmenu__list.dropdownmenu__list_black
					li
						a(href="#") Кисти
					li
						a(href="#") Миски
					li
						a(href="#") Шпатели и лопатки
					li
						a(href="#") Выжиматели
					li
						a(href="#") Диспансеры
					li
						a(href="#") Наборы

				.dropdownmenu__sub-title
					a(href="#") Расчески, щетки, брашинги

				ul.dropdownmenu__list.dropdownmenu__list_black
					li
						a(href="#") Расчески
					li
						a(href="#") Щетки
					li
						a(href="#") Брашинги
					li
						a(href="#") Очистители расчесок и брашингов

			.dropdownmenu__item
				.dropdownmenu__title 
					a(href="#") Приборы для волос

				.dropdownmenu__sub-title
					a(href="#") Щипцы для волос

				ul.dropdownmenu__list
					li
						a(href="#") Для выпрямления
					li
						a(href="#") Гофре
					li
						a(href="#") Для завивки

				.dropdownmenu__sub-title
					a(href="#") Машинки для создания локонов

				.dropdownmenu__sub-title
					a(href="#") Машинки

				ul.dropdownmenu__list
					li
						a(href="#") Машинки для стрижки волос
					li
						a(href="#") Машинки для стрижки секущихся концов
					li
						a(href="#") Триммеры
					li
						a(href="#") Шейверы
					li
						a(href="#") Принадлежности к машинкам

				ul.dropdownmenu__list.dropdownmenu__list_black
					li
						a(href="#") Фены
					li
						a(href="#") Бритвы и лезвия
					li
						a(href="#") Принадлежности и аксессуары
					li
						a(href="#") Наборы для парикмахера
					li
						a(href="#") Инструменты для окрашивания

			.dropdownmenu__item
				.dropdownmenu__title 
					a(href="#") Модельный ряд ножниц

				ul.dropdownmenu__list
					li
						a(href="#") Suntachi Classic
					li
						a(href="#") Suntachi Classic Gold
					li
						a(href="#") Suntachi Salon
					li
						a(href="#") Suntachi Salin Design
					li
						a(href="#") Suntachi LUX
					li
						a(href="#") Suntachi Ideal
					li
						a(href="#") Suntachi Ideal
					li
						a(href="#") Suntachi Elite
					li
						a(href="#") Akitz
					li
						a(href="#") Suntachi Premium
					li
						a(href="#") Takara

			.commercial.commercial_md
				.commercial__item
					.commercial__img
						a(href="#")
							img(src="img/commerce-prod.jpg")

					.action-tooltip.action-tooltip_red Скидка -40%

					.commercial__firm Suntachi

					.commercial__title
						a(href="#") Прямые ножницы ZG-B PETROL

					.commercial__price
						.commercial__price-old
							strike 12 500

						.commercial__price-new
							|10 300 
							<span>&#8381;</span>

				.tags
					a(href="#") Ножницы Suntachi
					a(href="#") Брашинги
					a(href="#") Фен Dyson

mixin dropDownMenuLaptop
	.dropdownmenu.dropdownmenu_laptop
		.dropdownmenu__inner
			button(type="button").dropdownmenu__close.btn-close

			.dropdownmenu__item
				.dropdownmenu__title 
					a(href="#") Ножницы

				.dropdownmenu__sub-title
					a(href="#") Прямые Ножницы

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс

				.dropdownmenu__sub-title
					a(href="#") Филировочные ножницы

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс

				.dropdownmenu__title 
					a(href="#") Ножницы для левшей

				.dropdownmenu__sub-title
					a(href="#") Прямые Ножницы

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс

				.dropdownmenu__sub-title
					a(href="#") Филировочные ножницы

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс


				.dropdownmenu__sub-title
					a(href="#") Комплекты ножниц

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") 3 класс
					li
						a(href="#") 4 класс
					li
						a(href="#") 5 класс
					li
						a(href="#") 5+ класс

				.dropdownmenu__sub-title
					a(href="#") Аксессуары для ножниц

				ul.dropdownmenu__list.dropdownmenu__list_column
					li
						a(href="#") Масло
					li
						a(href="#") Чехлы
					li
						a(href="#") Кобура

				.dropdownmenu__title 
					a(href="#") Модельный ряд ножниц

				ul.dropdownmenu__list
					li
						a(href="#") Suntachi Classic
					li
						a(href="#") Suntachi Classic Gold
					li
						a(href="#") Suntachi Salon
					li
						a(href="#") Suntachi Salin Design
					li
						a(href="#") Suntachi LUX
					li
						a(href="#") Suntachi Ideal
					li
						a(href="#") Suntachi Ideal
					li
						a(href="#") Suntachi Elite
					li
						a(href="#") Akitz
					li
						a(href="#") Suntachi Premium
					li
						a(href="#") Takara

			.dropdownmenu__item
				.dropdownmenu__title 
					a(href="#") Расходники

				ul.dropdownmenu__list.dropdownmenu__list_black
					li
						a(href="#") Кисти
					li
						a(href="#") Миски
					li
						a(href="#") Шпатели и лопатки
					li
						a(href="#") Выжиматели
					li
						a(href="#") Диспансеры
					li
						a(href="#") Наборы

				.dropdownmenu__sub-title
					a(href="#") Расчески, щетки, брашинги

				ul.dropdownmenu__list
					li
						a(href="#") Расчески
					li
						a(href="#") Щетки
					li
						a(href="#") Брашинги
					li
						a(href="#") Очистители расчесок и брашингов

				.dropdownmenu__title 
					a(href="#") Приборы для волос

				.dropdownmenu__sub-title
					a(href="#") Щипцы для волос

				ul.dropdownmenu__list
					li
						a(href="#") Для выпрямления
					li
						a(href="#") Гофре
					li
						a(href="#") Для завивки

				.dropdownmenu__sub-title
					a(href="#") Машинки для создания локонов

				.dropdownmenu__sub-title
					a(href="#") Машинки

				ul.dropdownmenu__list
					li
						a(href="#") Машинки для стрижки волос
					li
						a(href="#") Машинки для стрижки секущихся концов
					li
						a(href="#") Триммеры
					li
						a(href="#") Шейверы
					li
						a(href="#") Принадлежности к машинкам

				ul.dropdownmenu__list.dropdownmenu__list_black
					li
						a(href="#") Фены
					li
						a(href="#") Бритвы и лезвия
					li
						a(href="#") Принадлежности и аксессуары
					li
						a(href="#") Наборы для парикмахера
					li
						a(href="#") Инструменты для окрашивания

mixin brendsModal
	ul.brends-list__modal
		li
			a(href="#") Suntachi Classic
		li
			a(href="#") Suntachi Classic Gold
		li
			a(href="#") Suntachi Salon
		li
			a(href="#") Suntachi Salin Design
		li
			a(href="#") Suntachi Salin Design
		li
			a(href="#") Suntachi LUX
		li
			a(href="#") Suntachi ideal
		li
			a(href="#") Suntachi Elite
		li
			a(href="#") Suntachi Classic
		li
			a(href="#") Suntachi Classic Gold
		li
			a(href="#") Suntachi Salon
		li
			a(href="#") Suntachi Salin Design
		li
			a(href="#") Suntachi Salin Design
		li
			a(href="#") Suntachi LUX
		li
			a(href="#") Suntachi ideal
		li
			a(href="#") Suntachi Elite

mixin brendsList
	.brends-links.container
		a(href="#").brends-links__all Все бренды

		a(href="#").brends-link__num 0-9

		ul.brends-list
			li
				a(href="#") a
				+brendsModal

			li
				a(href="#") b
				+brendsModal
			li
				a(href="#") c
				+brendsModal

			li
				a(href="#") d
				+brendsModal
			li 
				a(href="#") e
				+brendsModal
			li
				a(href="#") f
				+brendsModal
			li
				a(href="#") g
				+brendsModal

			li
				a(href="#") h
				+brendsModal

			li
				a(href="#") i
				+brendsModal

			li
				a(href="#") j
				+brendsModal

			li
				a(href="#") k
				+brendsModal

			li
				a(href="#") l
				+brendsModal

			li
				a(href="#") m
				+brendsModal

			li
				a(href="#") n
				+brendsModal

			li
				a(href="#") o
				+brendsModal

			li
				a(href="#") p
				+brendsModal

			li
				a(href="#") q
				+brendsModal

			li
				a(href="#") r
				+brendsModal

			li
				a(href="#") s
				+brendsModal

			li
				a(href="#") t
				+brendsModal

			li
				a(href="#") u
				+brendsModal

			li
				a(href="#") v
				+brendsModal

			li
				a(href="#") w
				+brendsModal

			li
				a(href="#") x
				+brendsModal

			li
				a(href="#") y
				+brendsModal

			li
				a(href="#") z
				+brendsModal

			li
				a(href="#") а
				+brendsModal

			li
				a(href="#") б
				+brendsModal

			li
				a(href="#") в
				+brendsModal

			li
				a(href="#") г
				+brendsModal

			li
				a(href="#") д
				+brendsModal

			li
				a(href="#") е
				+brendsModal

			li
				a(href="#") ж
				+brendsModal

			li
				a(href="#") з
				+brendsModal

			li
				a(href="#") и
				+brendsModal

			li
				a(href="#") к
				+brendsModal

			li
				a(href="#") л
				+brendsModal

			li
				a(href="#") м
				+brendsModal

			li
				a(href="#") н
				+brendsModal

			li
				a(href="#") о
				+brendsModal

			li
				a(href="#") п
				+brendsModal

			li
				a(href="#") р
				+brendsModal

			li
				a(href="#") с
				+brendsModal

			li
				a(href="#") т
				+brendsModal

			li
				a(href="#") у
				+brendsModal

			li
				a(href="#") ф
				+brendsModal

			li
				a(href="#") х
				+brendsModal

			li
				a(href="#") ц
				+brendsModal

			li
				a(href="#") ч
				+brendsModal

			li
				a(href="#") ш
				+brendsModal

			li
				a(href="#") щ
				+brendsModal

			li
				a(href="#") э
				+brendsModal

			li
				a(href="#") ю
				+brendsModal
			li
				a(href="#") я
				+brendsModal