extends ../layout/layout.pug
block vars
	- var title = 'Личный кабинет';
block header
	include ../includes/header.pug
block content
	include ../includes/content-acc.pug
block footer
	include ../includes/footer.pug     

