extends ../layout/layout.pug
block vars
	- var title = 'Доставка и оплата';
block header
	include ../includes/header.pug
block content
	include ../includes/content-shipping.pug
block footer
	include ../includes/footer.pug     

